<%- include('./header.ejs') %>
<%- include('./nav.ejs') %>


<% if (error || typeof clubrow == 'undefined') { %>
  <p>Something seems to have gone wrong</p>
  <p><%= error %></p>
<% }
else { %>

  <div class="col-12 alert alert-warning alert-dismissible fade show" role="alert">
    <strong>PLEASE NOTE</strong> This is a secure area of the website containing personal information. Creation of this area was agreed by the management Committee at the start of the post-Covid season to address the lack of a physical handbook: users were assured of confidentiality.  This area is subject to GDPR rules and regulations.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="row">
<div class="col-md-6">
<h1>Club Info</h1>
  <h2><%= clubrow[0].clubname  %></h2>
  <% if (clubrow[0].venueId == clubrow[0].matchvenueid) { %>
    <h3>Address</h3>
    <p>
      <%= clubrow[0].venuename %><br />
      <%= clubrow[0].address %><br /><br />
    </p>
  <% }
  else { %>
    <h3>Match Address</h3>
    <p>
      <%= clubrow[0].matchvenuename %><br />
      <%= clubrow[0].matchvenueaddress %><br /><br />
    </p>
    <h3>Club Address</h3>
    <p>
      <%= clubrow[0].venuename %><br />
      <%= clubrow[0].address %><br /><br />
    </p>
  <% } %>
  
  <h3>Secretary:</h3> <%= clubrow[0].clubsecretary %>, <%= clubrow[0].clubsectel %>, <%= clubrow[0].clubsecemail %> </h3>
  <h3>Match Secretary:</h3> <%= clubrow[0].matchsecretary %>, <%= clubrow[0].matchsectel %>, <%= clubrow[0].matchsecemail %> </h3>
  
</div>
<div class="col-md-6">
  <h3>Teams</h3>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>captain</th>
          <th>Email</th>
          <th>Telephone</th>
        </tr>
      </thead>
      <tbody>
  <% clubrow.forEach(function(teamRow){ %>
    <tr>
      <td><%= teamRow.teamname %></td>
      <td><%= teamRow.teamcaptain %></td>
      <td><%= teamRow.teamcaptainemail %></td>
      <td><%= teamRow.teamcaptaintel %></td>
    </tr>
  <% }) %>
  </tbody>
  </table>
  </div>
</div>
</div>



<% } %>
<%- include('footer.ejs') %>



</body>
</html>
