<%- include('header.ejs') %>
<%- include('nav.ejs') %>

<% if (typeof errors !== 'undefined')  { %>
  <p>Something seems to have gone wrong</p>
  <p><%= error %></p>
<% } else { %> 
  <h1>Registered Players</h1>
  <% if (typeof filter !== 'undefined' && filter == true){ %>
    <%- include('filters.ejs') %>
  <% } %>
  
  <a href="/static/beta/docs/<%= result.teams[0].name.substring(0,result.teams[0].name.length - 2) %>.docx">Download</a>
  <div class="container row">
  <% result.teams.forEach(function(team){ %>
  <div class="team-container col-lg-6 col-md-12 mb-4" data-teamid="<%= team.id %>">
      <div class="border border-secondary rounded p-3">
          <h3 class="mb-3" data-teamid="<%= team.id %>"><%= team.name %></h3>
          
          <div class="nominated-container border border-secondary rounded p-3 mb-3">
              <div class="section-header p-2 rounded-top">Nominated</div>
              <div class="row">
                  <div class="col-6 men drop-zone" data-section="nominated" data-gender="men">
                      <h5 class="mt-2">Men</h5>
                      <% team.nominated.men.forEach(function(player){ %>
                          <div class="player-box border rounded p-2 mb-2" draggable="true" 
                               data-team="<%= player.teamId %>" 
                               data-rank="<%= player.rank %>" 
                               data-id="<%= player.playerID %>">
                              <%= player.name %>
                              <% if (typeof superadmin !== 'undefined' && superadmin) { %>
                              <span class="touch-indicator">Hold to move</span>
                              <i class="fa fa-ellipsis-v dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                              <button class="dropdown-item" type="button" data-action="remove">Remove<i class="fa fa-times text-danger ml-2"></i></button>
                              <button class="dropdown-item" type="button" data-action="edit">Edit<i class="fa fa-pen text-secondary ml-2"></i></button>
                              <button class="dropdown-item" type="button" data-action="moveup">Move Up<i class="fa fa-arrow-up text-success ml-2"></i></button>
                              <button class="dropdown-item" type="button" data-action="movedown">Move Down<i class="fa fa-arrow-down text-danger ml-2"></i></button>
                            </div>
                            <% } %>
                          </div>
                      <% }) %>
                      <% if (typeof superadmin !== 'undefined' && superadmin) { %>
                      <div class="add-player-box border rounded p-2 text-center" data-toggle="modal" data-target="#addPlayerModal">
                          <i class="fa fa-user-plus"></i> Add Player
                      </div>
                      <% } %>
                  </div>
                  <div class="col-6 ladies drop-zone" data-section="nominated" data-gender="ladies">
                      <h5 class="mt-2">Ladies</h5>
                      <% team.nominated.ladies.forEach(function(player){ %>
                          <div class="player-box border rounded p-2 mb-2" draggable="true" 
                               data-team="<%= player.teamId %>" 
                               data-rank="<%= player.rank %>" 
                               data-id="<%= player.playerID %>">
                              <%= player.name %>
                              <% if (typeof superadmin !== 'undefined' && superadmin) { %>
                              <span class="touch-indicator">Hold to move</span>
                              <i class="fa fa-ellipsis-v dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                              <button class="dropdown-item" type="button" data-action="remove">Remove<i class="fa fa-times text-danger ml-2"></i></button>
                              <button class="dropdown-item" type="button" data-action="edit">Edit<i class="fa fa-pen text-secondary ml-2"></i></button>
                              <button class="dropdown-item" type="button" data-action="moveup">Move Up<i class="fa fa-arrow-up text-success ml-2"></i></button>
                              <button class="dropdown-item" type="button" data-action="movedown">Move Down<i class="fa fa-arrow-down text-danger ml-2"></i></button>
                            </div>
                            <% } %>
                          </div>
                      <% }) %>
                      <% if (typeof superadmin !== 'undefined' && superadmin) { %>
                      <div class="add-player-box border rounded p-2 text-center" data-toggle="modal" data-target="#addPlayerModal">
                          <i class="fa fa-user-plus"></i> Add Player
                      </div>
                      <% } %>
                  </div>
              </div>
          </div>
          
          <% if (team.reserves.men.length > 0 || team.reserves.ladies.length > 0 ) { %>
           <div class="reserves-container border border-secondary rounded p-3 mb-3">
              <div class="section-header p-2 rounded-top">Reserves</div>
              <div class="row">
                  <div class="col-6 men drop-zone" data-section="reserves" data-gender="men">
                      <h5 class="mt-2">Men</h5>
                      <% team.reserves.men.forEach(function(player){ %>
                          <div class="player-box border rounded p-2 mb-2" draggable="true" 
                               data-team="<%= player.teamId %>" 
                               data-rank="<%= player.rank %>" 
                               data-id="<%= player.playerID %>">
                              <%= player.name %>
                              <% if (typeof superadmin !== 'undefined' && superadmin) { %>
                              <span class="touch-indicator">Hold to move</span>
                              <i class="fa fa-ellipsis-v dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu4">
                              <button class="dropdown-item" type="button" data-action="remove">Remove<i class="fa fa-times text-danger ml-2"></i></button>
                              <button class="dropdown-item" type="button" data-action="edit">Edit<i class="fa fa-pen text-secondary ml-2"></i></button>
                              <button class="dropdown-item" type="button" data-action="moveup">Move Up<i class="fa fa-arrow-up text-success ml-2"></i></button>
                              <button class="dropdown-item" type="button" data-action="movedown">Move Down<i class="fa fa-arrow-down text-danger ml-2"></i></button>
                            </div>
                            <% } %>
                          </div>
                      <% }) %>
                      <% if (typeof superadmin !== 'undefined' && superadmin) { %>
                      <div class="add-player-box border rounded p-2 text-center" data-toggle="modal" data-target="#addPlayerModal">
                          <i class="fa fa-user-plus"></i> Add Player
                      </div>
                      <% } %>
                      <% } %>
                  </div>
                  <div class="col-6 ladies drop-zone" data-section="reserves" data-gender="ladies">
                      <h5 class="mt-2">Ladies</h5>
                      <% team.reserves.ladies.forEach(function(player){ %>
                          <div class="player-box border rounded p-2 mb-2" draggable="true" 
                               data-team="<%= player.teamId %>" 
                               data-rank="<%= player.rank %>" 
                               data-id="<%= player.playerID %>">
                              <%= player.name %>
                              <% if (typeof superadmin !== 'undefined' && superadmin) { %>
                              <span class="touch-indicator">Hold to move</span>
                              <i class="fa fa-ellipsis-v dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu5">
                              <button class="dropdown-item" type="button" data-action="remove">Remove<i class="fa fa-times text-danger ml-2"></i></button>
                              <button class="dropdown-item" type="button" data-action="edit">Edit<i class="fa fa-pen text-secondary ml-2"></i></button>
                              <button class="dropdown-item" type="button" data-action="moveup">Move Up<i class="fa fa-arrow-up text-success ml-2"></i></button>
                              <button class="dropdown-item" type="button" data-action="movedown">Move Down<i class="fa fa-arrow-down text-danger ml-2"></i></button>
                            </div>
                            <% } %>
                          </div>
                      <% }) %>
                      <% if (typeof superadmin !== 'undefined' && superadmin) { %>
                      <div class="add-player-box border rounded p-2 text-center" data-toggle="modal" data-target="#addPlayerModal">
                          <i class="fa fa-user-plus"></i> Add Player
                      </div>
                      <% } %>
                  </div>
              </div>
          </div>
          <% } %>
      </div>
  </div>
<% }) %>
  </div>
<% } %>

<%- include('footer.ejs') %>

<!-- Bootstrap 4 Modal -->
<div class="modal fade" id="addPlayerModal" tabindex="-1" role="dialog" aria-labelledby="addPlayerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPlayerModalLabel">Add Player</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="addPlayerForm">
          <div class="form-group">
            <label for="playerName">Player Name</label>
            <input type="text" class="form-control" id="playerName" name="name" required>
          </div>
          <div class="form-group">
            <label for="playerTeam">Team</label>
            <select class="form-control" id="playerTeam" name="team" required>
              <option value="">Select Team</option>
              <% result.teams.forEach(function(team){ %>
                <option value="<%= team.id %>"><%= team.name %></option>
              <% }) %>
            </select>
          </div>
          <div class="form-group">
            <label for="playerGender">Gender</label>
            <select class="form-control" id="playerGender" name="gender" required>
              <option value="">Select Gender</option>
              <option value="men">Men</option>
              <option value="ladies">Ladies</option>
            </select>
          </div>
          <div class="form-group">
            <label for="playerSection">Section</label>
            <select class="form-control" id="playerSection" name="section" required>
              <option value="">Select Section</option>
              <option value="nominated">Nominated</option>
              <option value="reserves">Reserves</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="addPlayer()">Add Player</button>
      </div>
    </div>
  </div>
</div>

<style>
/* Enhanced styling for drag and drop */
.player-box {
    cursor: move;
    transition: all 0.3s ease;
    position: relative;
}

.player-box:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.player-box.dragging {
    opacity: 0.5;
    transform: scale(0.95);
}

.drop-zone {
    min-height: 100px;
    transition: all 0.3s ease;
    border-radius: 8px;
}

.drop-zone.drag-over {
    background-color: #e3f2fd;
    border: 2px dashed #2196f3;
}

.touch-indicator {
    display: none;
    font-size: 12px;
    color: #666;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    white-space: nowrap;
}

.player-box.long-press-active .touch-indicator {
    display: block;
}

.add-player-box {
    cursor: pointer;
    color: #666;
    border: 2px dashed #ccc !important;
    transition: all 0.3s ease;
}

.add-player-box:hover {
    border-color: #007bff !important;
    color: #007bff;
    background-color: #f8f9fa;
}

.section-header {
    background-color: #f8f9fa;
    font-weight: bold;
    border-bottom: 1px solid #dee2e6;
}

/* Mobile responsive adjustments */
@media (max-width: 768px) {
    .touch-indicator {
        display: block;
        position: static;
        transform: none;
        background: none;
        color: #666;
        padding: 0;
        margin-left: 10px;
    }
    
    .player-box {
        padding: 10px !important;
    }
}
</style>

<script type="text/javascript">
class TeamPlayerManager {
    constructor() {
        this.draggedElement = null;
        this.longPressTimer = null;
        this.longPressDelay = 500;
        this.isTouchDevice = 'ontouchstart' in window;
        this.init();
    }

    init() {
    this.setupEventListeners();
    this.setupAddPlayerModal();
    console.log('Touch device:', this.isTouchDevice);
    
    // Store reference globally for onclick handlers
    window.teamManager = this;
}

    setupEventListeners() {
        if (!this.isTouchDevice) {
            this.setupDesktopDragDrop();
        }
        this.setupTouchEvents();
        this.setupPlayerActions();
    }

    setupAddPlayerModal() {
    // Handle add player box clicks
    document.addEventListener('click', (e) => {
        if (e.target.closest('.add-player-box')) {
            const dropZone = e.target.closest('.drop-zone');
            if (dropZone) {
                const teamContainer = dropZone.closest('.team-container');
                const teamHeader = teamContainer.querySelector('[data-teamid]');
                const teamId = teamHeader.dataset.teamid;
                const section = dropZone.dataset.section;
                const gender = dropZone.dataset.gender;
                
                // Store context in hidden fields
                document.getElementById('playerTeam').value = teamId;
                document.getElementById('playerSection').value = section;
                document.getElementById('playerGender').value = gender;
                
                // Display context to user
                const teamName = teamHeader.textContent.trim();
                const contextDisplay = document.getElementById('contextDisplay');
                const contextInfo = document.getElementById('contextInfo');
                
                contextDisplay.textContent = `${teamName} - ${section} ${gender}`;
                contextInfo.style.display = 'block';
                
                // Clear previous search results
                this.clearSearchResults();
                
                // Clear form
                document.getElementById('addPlayerForm').reset();
                // Restore hidden values after reset
                document.getElementById('playerTeam').value = teamId;
                document.getElementById('playerSection').value = section;
                document.getElementById('playerGender').value = gender;
            }
        }
    });
    
    // Search player functionality
    document.getElementById('searchPlayer').addEventListener('click', (e) => {
        e.preventDefault();
        this.searchExistingPlayer();
    });
    
    // Add new player functionality
    document.getElementById('addNewPlayer').addEventListener('click', (e) => {
        e.preventDefault();
        this.addNewPlayer();
    });
    
    // Allow Enter key to trigger search
    document.getElementById('player-name').addEventListener('keypress', (e) => {
        if (e.key === 'Enter') {
            e.preventDefault();
            this.searchExistingPlayer();
        }
    });
}

// Add these methods to your TeamPlayerManager class
searchExistingPlayer() {
    const playerName = document.getElementById('player-name').value.trim();
    const gender = document.getElementById('playerGender').value;
    
    if (!playerName) {
        alert('Please enter a player name');
        return;
    }
    
    // Convert gender format for API call
    const apiGender = gender === 'men' ? 'Male' : 'Female';
    
    console.log('/players/matching/' + playerName + '/' + apiGender);
    
    // Make API call to search for existing players
    fetch(`/players/matching/${playerName}/${apiGender}`)
        .then(response => response.json())
        .then(data => {
            this.displaySearchResults(data);
        })
        .catch(error => {
            console.error('Error searching for player:', error);
            alert('Error searching for player. Please try again.');
        });
}

displaySearchResults(players) {
    const searchResults = document.getElementById('searchResults');
    const searchResultsList = document.getElementById('searchResultsList');
    
    if (players && players.length > 0) {
        searchResults.style.display = 'block';
        searchResultsList.innerHTML = '';
        
        players.forEach(player => {
            const playerItem = document.createElement('div');
            playerItem.className = 'border rounded p-2 mb-2 d-flex justify-content-between align-items-center';
            playerItem.innerHTML = `
                <div>
                    <strong>${player.name}</strong>
                    <small class="text-muted d-block">${player.team || 'No team'}</small>
                </div>
                <button class="btn btn-sm btn-primary" onclick="teamManager.selectExistingPlayer(${player.id}, '${player.name}')">
                    Select
                </button>
            `;
            searchResultsList.appendChild(playerItem);
        });
    } else {
        searchResults.style.display = 'none';
    }
}

selectExistingPlayer(playerId, playerName) {
    const teamId = document.getElementById('playerTeam').value;
    const section = document.getElementById('playerSection').value;
    const gender = document.getElementById('playerGender').value;
    
    // Update the existing player's team and section
    this.updatePlayerInBackend(playerId, teamId, section);
    
    // Add player to the UI
    this.addPlayerToUI(playerId, playerName, teamId, section, gender);
    
    // Close modal
    $('#addPlayerModal').modal('hide');
    
    console.log(`Selected existing player: ${playerName} (ID: ${playerId})`);
}

addNewPlayer() {
    const playerName = document.getElementById('player-name').value.trim();
    const teamId = document.getElementById('playerTeam').value;
    const section = document.getElementById('playerSection').value;
    const gender = document.getElementById('playerGender').value;
    
    if (!playerName) {
        alert('Please enter a player name');
        return;
    }
    
    // Generate temporary ID (you might want to get this from your backend)
    const newPlayerId = Date.now();
    
    // Add player to UI
    this.addPlayerToUI(newPlayerId, playerName, teamId, section, gender);
    
    // Here you might want to also create the player in your backend
    // this.createPlayerInBackend(playerName, teamId, section, gender);
    
    // Close modal
    $('#addPlayerModal').modal('hide');
    
    console.log(`Added new player: ${playerName}`);
}

addPlayerToUI(playerId, playerName, teamId, section, gender) {
    const playerHTML = `
        <div class="player-box border rounded p-2 mb-2" draggable="true" 
             data-team="${teamId}" 
             data-rank="${section === 'reserves' ? 99 : 1}" 
             data-id="${playerId}">
            ${playerName}
            <span class="touch-indicator">Hold to move</span>
            <i class="fa fa-ellipsis-v dropdown-toggle" data-toggle="dropdown"></i>
            <div class="dropdown-menu">
                <button class="dropdown-item" type="button" data-action="remove">Remove<i class="fa fa-times text-danger ml-2"></i></button>
                <button class="dropdown-item" type="button" data-action="edit">Edit<i class="fa fa-pen text-secondary ml-2"></i></button>
                <button class="dropdown-item" type="button" data-action="moveup">Move Up<i class="fa fa-arrow-up text-success ml-2"></i></button>
                <button class="dropdown-item" type="button" data-action="movedown">Move Down<i class="fa fa-arrow-down text-danger ml-2"></i></button>
            </div>
        </div>
    `;
    
    const targetZone = document.querySelector(`[data-teamid="${teamId}"] .drop-zone[data-section="${section}"][data-gender="${gender}"]`);
    const addPlayerBox = targetZone.querySelector('.add-player-box');
    
    addPlayerBox.insertAdjacentHTML('beforebegin', playerHTML);
    
    // Update ranks
    this.updateRanks(targetZone, section);
}

clearSearchResults() {
    const searchResults = document.getElementById('searchResults');
    const searchResultsList = document.getElementById('searchResultsList');
    searchResults.style.display = 'none';
    searchResultsList.innerHTML = '';
}

    setupDesktopDragDrop() {
        document.addEventListener('dragstart', (e) => {
            if (e.target.classList.contains('player-box')) {
                this.handleDragStart(e);
            }
        });

        document.addEventListener('dragend', (e) => {
            if (e.target.classList.contains('player-box')) {
                this.handleDragEnd(e);
            }
        });

        document.addEventListener('dragover', (e) => {
            e.preventDefault();
        });

        document.addEventListener('dragenter', (e) => {
            if (e.target.classList.contains('drop-zone')) {
                this.handleDragEnter(e);
            }
        });

        document.addEventListener('dragleave', (e) => {
            if (e.target.classList.contains('drop-zone')) {
                this.handleDragLeave(e);
            }
        });

        document.addEventListener('drop', (e) => {
            if (e.target.classList.contains('drop-zone') || e.target.closest('.drop-zone')) {
                this.handleDrop(e);
            }
        });
    }

    setupTouchEvents() {
        document.addEventListener('touchstart', (e) => {
            if (e.target.classList.contains('player-box') || e.target.closest('.player-box')) {
                this.handleTouchStart(e);
            }
        });

        document.addEventListener('touchmove', (e) => {
            if (this.draggedElement) {
                this.handleTouchMove(e);
            }
        });

        document.addEventListener('touchend', (e) => {
            if (this.draggedElement) {
                this.handleTouchEnd(e);
            }
        });
    }

    setupPlayerActions() {
        document.addEventListener('click', (e) => {
            if (e.target.closest('[data-action]')) {
                e.preventDefault();
                const action = e.target.closest('[data-action]').dataset.action;
                const playerBox = e.target.closest('.player-box');
                this.handlePlayerAction(action, playerBox);
            }
        });
    }

    handleDragStart(e) {
        this.draggedElement = e.target;
        e.target.classList.add('dragging');
        e.dataTransfer.effectAllowed = 'move';
        e.dataTransfer.setData('text/html', e.target.outerHTML);
    }

    handleDragEnd(e) {
        e.target.classList.remove('dragging');
        this.clearDropZoneHighlights();
        this.draggedElement = null;
    }

    handleDragEnter(e) {
        e.target.classList.add('drag-over');
    }

    handleDragLeave(e) {
        e.target.classList.remove('drag-over');
    }

    handleDrop(e) {
        e.preventDefault();
        const dropZone = e.target.classList.contains('drop-zone') ? e.target : e.target.closest('.drop-zone');
        
        if (dropZone && this.draggedElement && this.isValidDropZone(dropZone)) {
            this.movePlayerToZone(this.draggedElement, dropZone);
        }
        
        this.clearDropZoneHighlights();
    }

    handleTouchStart(e) {
        const playerBox = e.target.classList.contains('player-box') ? e.target : e.target.closest('.player-box');
        if (!playerBox) return;

        this.longPressTimer = setTimeout(() => {
            this.startTouchDrag(playerBox);
        }, this.longPressDelay);

        const cancelLongPress = () => {
            clearTimeout(this.longPressTimer);
            playerBox.classList.remove('long-press-active');
        };

        playerBox.addEventListener('touchmove', cancelLongPress, { once: true });
        playerBox.addEventListener('touchend', cancelLongPress, { once: true });
        
        playerBox.classList.add('long-press-active');
    }

    startTouchDrag(playerBox) {
        this.draggedElement = playerBox;
        playerBox.classList.add('dragging');
        playerBox.classList.remove('long-press-active');
        
        if (navigator.vibrate) {
            navigator.vibrate(50);
        }
    }

    handleTouchMove(e) {
        if (!this.draggedElement) return;
        
        e.preventDefault();
        
        const touch = e.touches[0];
        const elementBelow = document.elementFromPoint(touch.clientX, touch.clientY);
        
        this.clearDropZoneHighlights();
        
        const dropZone = elementBelow?.closest('.drop-zone');
        if (dropZone) {
            dropZone.classList.add('drag-over');
        }
    }

    handleTouchEnd(e) {
        if (!this.draggedElement) return;
        
        const touch = e.changedTouches[0];
        const elementBelow = document.elementFromPoint(touch.clientX, touch.clientY);
        const dropZone = elementBelow?.closest('.drop-zone');
        
        if (dropZone && dropZone !== this.draggedElement.closest('.drop-zone') && this.isValidDropZone(dropZone)) {
            this.movePlayerToZone(this.draggedElement, dropZone);
        }
        
        this.draggedElement.classList.remove('dragging');
        this.clearDropZoneHighlights();
        this.draggedElement = null;
    }

    isValidDropZone(dropZone) {
        if (!dropZone) return false;
        
        const teamContainer = dropZone.closest('[data-teamid]');
        if (!teamContainer) {
            console.error('Drop zone is not within a team container');
            return false;
        }
        
        const section = dropZone.dataset.section;
        const gender = dropZone.dataset.gender;
        
        if (!section || !gender) {
            console.error('Drop zone missing section or gender data');
            return false;
        }
        
        return true;
    }

    movePlayerToZone(playerElement, dropZone) {
        if (!this.isValidDropZone(dropZone)) {
            console.error('Invalid drop zone');
            return;
        }
        
        const playerId = playerElement.dataset.id;
        const playerName = playerElement.textContent.trim();
        const teamContainer = dropZone.closest('[data-teamid]');
        const targetTeamId = teamContainer.dataset.teamid;
        const targetSection = dropZone.dataset.section;
        const targetGender = dropZone.dataset.gender;

        // Remove from current position
        playerElement.remove();

        // Add to new position (before add-player-box)
        const addPlayerBox = dropZone.querySelector('.add-player-box');
        if (addPlayerBox) {
            dropZone.insertBefore(playerElement, addPlayerBox);
        } else {
            dropZone.appendChild(playerElement);
        }

        // Update data attributes
        playerElement.dataset.team = targetTeamId;
        
        // Update rank based on position
        this.updateRanks(dropZone, targetSection);

        // Log the move
        console.log(`Moved ${playerName} to team ${targetTeamId}, ${targetSection} ${targetGender}`);

        // Update backend
        this.updatePlayerInBackend(playerId, targetTeamId, targetSection);
    }

    updateRanks(dropZone, section) {
        const players = dropZone.querySelectorAll('.player-box');
        players.forEach((player, index) => {
            player.dataset.rank = section === 'reserves' ? 99 : index + 1;
        });
    }

    updatePlayerInBackend(playerId, teamId, section) {
        const updateData = {
            tablename: "player",
            fields: ["id", "team", "rank"],
            data: [[parseInt(playerId), parseInt(teamId), section === 'reserves' ? 99 : 1]]
        };

        fetch('/player/batch-update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(updateData),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    handlePlayerAction(action, playerBox) {
        const playerId = playerBox.dataset.id;
        const playerName = playerBox.textContent.trim();

        switch (action) {
            case 'remove':
                this.removePlayer(playerBox, playerId, playerName);
                break;
            case 'edit':
                this.editPlayer(playerId);
                break;
            case 'moveup':
                this.movePlayerUp(playerBox);
                break;
            case 'movedown':
                this.movePlayerDown(playerBox);
                break;
        }
    }

    removePlayer(playerBox, playerId, playerName) {
        if (confirm(`Are you sure you want to remove ${playerName}?`)) {
            playerBox.remove();
            console.log(`Removed ${playerName} (ID: ${playerId})`);
            
            this.updatePlayerInBackend(playerId, 52, 99);
        }
    }

    editPlayer(playerId) {
        console.log(`Edit player ${playerId}`);
        // window.open(`/player/${playerId}/update`);
    }

    movePlayerUp(playerBox) {
        const prevSibling = playerBox.previousElementSibling;
        if (prevSibling && prevSibling.classList.contains('player-box')) {
            playerBox.parentNode.insertBefore(playerBox, prevSibling);
            this.updateRanks(playerBox.parentNode, playerBox.closest('[data-section]').dataset.section);
        }
    }

    movePlayerDown(playerBox) {
        const nextSibling = playerBox.nextElementSibling;
        if (nextSibling && nextSibling.classList.contains('player-box')) {
            playerBox.parentNode.insertBefore(nextSibling, playerBox);
            this.updateRanks(playerBox.parentNode, playerBox.closest('[data-section]').dataset.section);
        }
    }

    clearDropZoneHighlights() {
        document.querySelectorAll('.drop-zone').forEach(zone => {
            zone.classList.remove('drag-over');
        });
    }
}

// Initialize when DOM is loaded
document.addEventListener('DOMContentLoaded', () => {
    new TeamPlayerManager();
});

// Bootstrap 4 compatible add player function

</script>

<script src="https://unpkg.com/docx@7.1.0/build/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>

</body>
</html>