<% include header.ejs %>
<% include nav.ejs %>


  <% if (error) { %>
    <p>Something seems to have gone wrong</p>
    <p><%= error %></p>
  <% }
  else { %>
    <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Match Night</th>
          <th>Club Night</th>
          <th>Venue</th>
        </tr>
      </thead>
      <tbody>
    <% result.forEach(function(row){ %>
      <tr>
        <% if (row['clubWebsite'] != ''){ %>
          <td><a href="<%= row['clubWebsite'] %>" target="_blank"><%= row['name'] %></a></td>
        <% }
        else { %>
          <td><%= row['name'] %></td>
        <% } %>

          <td><%= row['matchNightText'] %></td>
          <td><%= row['clubNightText'] %></td>
          <%
            if (row['venue'] == row['matchVenueName']) { %>
          <td><a href="<%= row['clubVenueURL'] %>" target="_blank"><%= row['address'] %></a></td>
          <% }
            else { %>
              <td>Club: <a href="<%= row['clubVenueURL'] %>" target="_blank"><%= row['address'] %></a><br />
              Matches: <a href="<%= row['matchVenueURL'] %>" target="_blank"><%= row['matchVenueName'] %></a></td>
          <% }
          %>
      </tr>
    <% }) %>
      </tbody>
    </table>
    </div>
   <% } %>


<% include footer.ejs %>


</body>
</html>
