<% include header.ejs %>
<% include nav.ejs %>


  <% if (error) { %>
    <p>Something seems to have gone wrong</p>
    <p><%= error %></p>
  <% }
  else { %>
    <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Match Night</th>
          <th>Club Night</th>
          <th>Venue</th>
        </tr>
      </thead>
      <tbody>
    <% result.forEach(function(row){ %>
      <tr>
        <% if (row['clubWebsite'] != ''){ %>
          <td><a href="<%= row['clubWebsite'] %>"><%= row['name'] %></a></td>
        <% }
        else { %>
          <td><%= row['name'] %></td>
        <% } %>

          <td><%= row['matchNightText'] %></td>
          <td><%= row['clubNightText'] %></td>
          <%
            if (row['venue'] == row['matchVenueName']) { %>
          <td><a href="<%= row['clubVenueURL'] %>"><%= row['address'] %></a></td>
          <% }
            else { %>
              <td>Club: <a href="<%= row['clubVenueURL'] %>"><%= row['address'] %></a><br />
              Matches: <a href="<%= row['matchVenueURL'] %>"><%= row['matchVenueName'] %></a></td>
          <% }
          %>
      </tr>
    <% }) %>
      </tbody>
    </table>
    </div>
   <% } %>




<% include footer.ejs %>


</body>
</html>


CREATE TABLE `club` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(45) NOT NULL,
  `venue` int(11) DEFAULT NULL,
  `matchNightText` varchar(100) DEFAULT NULL,
  `clubNightText` varchar(45) DEFAULT NULL,
  `clubNight` enum('Mon','Tue','Wed','Thu','Fri','Sat','Sun','None') DEFAULT NULL,
  `clubNightCourts` int(11) DEFAULT NULL,
  `clubWebsite` varchar(100) DEFAULT NULL,
  `matchVenue` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4
