<% include header.ejs %>
<% include nav.ejs %>


  <% if (error) { %>
    <p>Something seems to have gone wrong</p>
    <p><%= error %></p>
  <% }
  else { %>
    <h1><%= division.replace('-',' ') %></h1>
    <div class="table-responsive">
    <table class="table" id="results-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Home Team</th>
          <th>Away Team</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
    <% result.forEach(function(row){ %>
      <%
        var rowClass = '';
        var resultValue = '';
        var MyDate = new Date(row['date']);
        var NowDate = Date.now();
        if ((MyDate < NowDate) && (row['homeScore'] == null)) {
          rowClass = 'table-danger'
          var resultValue = 'Awaiting Result';
        }
        var MyDateString;

        // MyDate.setDate(MyDate.getDate() + 20);

        MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                     + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                     + MyDate.getFullYear();
      %>

      <% if (row['status'] == 'rearranging'){
        var rowClass = 'table-warning';
        var resultValue = 'Rearranging';
       }
       %>

      <tr class="<%= rowClass %>">

          <td><%= MyDateString %></td>
          <td><%= row['homeTeam'] %></td>
          <td><%= row['awayTeam'] %></td>
          <% if(row['homeScore'] != null){ %>
          <td><%= row['homeScore'] %>-<%= row['awayScore'] %></td>
          <% }
          else { %>
           <td><%= resultValue %></td>
          <% } %>
      </tr>
    <% }) %>
      </tbody>
      <<tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
   <% } %>




<% include footer.ejs %>
<% include datatables.ejs %>

</body>
</html>
