<%- include (header.ejs) %>
<%- include (nav.ejs) %>


  <% if (error) { %>
    <p>Something seems to have gone wrong</p>
    <p><%= error %></p>
  <% }
  else { %>
    <h1><%= division.replace('-',' ') %></h1>

    <div class="table-responsive">
    <table class="table" id="results-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Home Team</th>
          <th>Away Team</th>
          <th>Result</th>
        </tr>
      </thead>
      <form action="/fixture/batch-update" method="post">
      <tbody>
    <% result.forEach(function(row){ %>
      <tr>
        <%
          var MyDate = new Date(row['date']);
          var MyDateString;

          // MyDate.setDate(MyDate.getDate() + 20);

          MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                       + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                       + MyDate.getFullYear();
        %>
          <td><input type="text" name="" value=""><%= MyDateString %></td>
          <td><select name="" id="">
            <option value=""></option>
          </select></td>
          <td><%= row['awayTeam'] %></td>
          <% if(row['homeScore'] != null){ %>
          <td><%= row['homeScore'] %>-<%= row['awayScore'] %></td>
          <% }
          else { %>
           <td>&nbsp;</td>
          <% } %>
      </tr>
    <% }) %>
      </tbody>
    </form>
    </table>
  </div>
   <% } %>




<%- include (footer.ejs) %>
<%- include (datatables.ejs) %>

</body>
</html>
