<%- include('./header.ejs'); -%>
<%- include('./nav.ejs'); -%>


<% if (error) { %>
<p>Something seems to have gone wrong</p>
<p><%= error %></p>
<% }
  else { %>
<div class="row col-12">
    <h1><%= division.replace('-',' ') %></h1>
</div>

<div class="table-responsive">
    <% for (division of jsonResult){ %>
    <% if (jsonResult.length > 1) { %>
    <div class="text-left">
        <h3><%= division.division %></h3>
    </div>
    <% } %>
    
    <table class="table" id="results-grid">
        <tr>
            <td class="py-3 border">&nbsp;</td>
            <% for (team of division.teams){ %>
            <td class="py-3 border"><%= team %></td>
            <% } %>
        </tr>

        <%  var currHomeTeam = ""
                for (const [i,fix] of division.fixtures.entries()){ 
                    var MyDate = new Date(fix.date);
                    var MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/' + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/' + MyDate.getFullYear();
                    if (fix.homeTeam == currHomeTeam) { 
                    if (i%division.teams.length == 0 ){
                        %><td class="py-3 border">&nbsp;</td> <%
                    } %>
        <td class="py-3 border">

            <% if(fix.homeScore === null){ %>
            <%= MyDateString %>
            <% }
                else{ %>
            <%= fix.homeScore %> - <%= fix.awayScore %>
            <% } %>
        </td>
        <% } 
                else {
                    currHomeTeam = fix.homeTeam
                    %>
        </tr>
        <tr>
            <td class="py-3 border"><%= fix.homeTeam %></td>
            <% if (i%division.teams.length == 0 ){
                        %><td>&nbsp;</td> <%
                    } %>
            <td class="py-3 border">

                <% if(fix.homeScore === null){ %>
                <%= MyDateString %>
                <% }
                        else{ %>
                <%= fix.homeScore %> - <%= fix.awayScore %>
                <% } %>
            </td>
            <% }
                     } %>
        </tr>
    </table>
    <% } %>



</div>
<% } %>




<%- include('footer.ejs') %>


</body>

</html>