<%- include('header.ejs') %>
<%- include('nav.ejs') %>

<h1>Gallery</h1>
<div class="w-100"></div>

<%  
                var i = 0 
                var active = "active"
                assets.forEach(function(image){ 
                  if (i > 0){
                    active = ""
                  }
                  if (i%4 == 0){
                    %>
                    <div class="w-100 h-25"></div>
                    <%
                  }
                  i++
                  var imageref = image.url.replace("/upload","/upload/f_auto,c_fill/w_auto:breakpoints_200_1920_30_10:300")
                  if (typeof image.context != 'undefined'){
                    var caption = (image.context.custom.caption.length > 0 ? image.context.custom.caption : "")
                  }
                  
              %>
              <div class="col my-1 <%= active %>">
                    <img class="d-block img-fluid" src="<%= imageref %>" sizes="100vw" width="100%" border=0 alt="" title=""/>
                <div class="carousel-caption d-none d-md-block">
                  <h5><%= caption %></h5>
                </div>
              </div>
            <% }) %>


<%- include('footer.ejs') %>


</body>
</html>
