<!doctype html>
<html lang="en">
  <head>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PSC0315491"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      <% if (typeof user !== 'undefined') { %>
        
      gtag('config', 'G-PSC0315491',{'cookie_prefix': 'baddersCookie',
  'cookie_domain': 'stockport-badminton.co.uk',
  'cookie_expires': 28 * 24 * 60 * 60 ,  // 28 days, in seconds,
  'user_id': '<%= user.user_id %>' });
    gtag('set', 'user_properties', { 
    'crm_id' : '<%= user.user_id %>' 
    });
      
    <% } else{ %>
        
        gtag('config', 'G-PSC0315491',{
  'cookie_prefix': 'baddersCookie',
  'cookie_domain': 'stockport-badminton.co.uk',
  'cookie_expires': 28 * 24 * 60 * 60  // 28 days, in seconds
});
      <% } %> 
    </script>

<% if (pageTitle.indexOf("Event") >= 0){ 

  
  var MyDate = new Date(fixtureDetails.date);
  var MyDateString;

  // MyDate.setDate(MyDate.getDate() + 20);

  MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
               + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
               + MyDate.getFullYear();
  let offset = (new Date(MyDate.getFullYear() + '-' + ('0' + (MyDate.getMonth()+1)).slice(-2) + '-' +('0' + MyDate.getDate()).slice(-2)).getTimezoneOffset())/60
  let DSTOffset = offset < 0 ? '+01:00' : ''
  OtherDateStringStartTime = MyDate.getFullYear() + '-' + ('0' + (MyDate.getMonth()+1)).slice(-2) + '-' +('0' + MyDate.getDate()).slice(-2) + 'T' + fixtureDetails.startTime + DSTOffset
  OtherDateStringEndTime = MyDate.getFullYear() + '-' + ('0' + (MyDate.getMonth()+1)).slice(-2) + '-' +('0' + MyDate.getDate()).slice(-2) + 'T' + fixtureDetails.endTime + DSTOffset
%>
  
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
          "@type": "SportsEvent",
          "name": "<%= fixtureDetails.homeTeam %> vs <%= fixtureDetails.awayTeam %>",
          "startDate": "<%= OtherDateStringStartTime %>",
          "endDate": "<%= OtherDateStringEndTime %>",
          "url": "https://stockport-badminton.co.uk/event/<%= fixtureDetails.id %>/<%= MyDateString.replaceAll("/","") %>-<%= fixtureDetails.homeTeam %>-<%= fixtureDetails.awayTeam %>",
          "sport":"badminton",
          "competitor":[{
            "@type":"SportsTeam",
            "homeTeam":"<%= fixtureDetails.homeTeam %>"
          },{
            "@type":"SportsTeam",
            "awayTeam":"<%= fixtureDetails.awayTeam %>"
          }],
          "location":{
            "@type":"Place",
            "name":"<%= fixtureDetails.venueName %>",
            "hasMap":"<%= fixtureDetails.venueLink %>",
            "Lat":"<%= fixtureDetails.Lat %>",
            "Lng":"<%= fixtureDetails.Lng %>",
            "address":{
              "type":"PostalAddress",
              "streetAddress":"<%= fixtureDetails.venueAddress %>"
            }
          },
          "description":"Badminton match: <%= fixtureDetails.homeTeam%> vs <%= fixtureDetails.awayTeam%>",
          "eventAttendanceMode":"https://schema.org/OfflineEventAttendanceMode",
          "eventStatus": "https://schema.org/EventScheduled",
          "performer":{
            "@type":"Organization",
            "name":"<%= fixtureDetails.homeClub %>",
            "url":"<%= typeof fixtureDetails.clubWebsite !== 'undefined' ? fixtureDetails.clubWebsite : 'https://stockport-badminton.co.uk' %>"
          },
          "organizer":{
            "@type":"Organization",
            "name":"<%= fixtureDetails.homeClub %>",
            "url":"<%= typeof fixtureDetails.clubWebsite !== 'undefined' ? fixtureDetails.clubWebsite : 'https://stockport-badminton.co.uk' %>"
          }
        }
      </script>
      <style>
        #eventMap {box-sizing: content-box;
        height: 100%;}
      </style>
<%  }
 %>

 <% if (pageTitle.indexOf("Homepage") >= 0){ 

  for (fixtureDetails of row){

  
  var MyDate = new Date(fixtureDetails.date);
  var MyDateString;

  // MyDate.setDate(MyDate.getDate() + 20);

  MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
               + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
               + MyDate.getFullYear();
  let offset = (new Date(MyDate.getFullYear() + '-' + ('0' + (MyDate.getMonth()+1)).slice(-2) + '-' +('0' + MyDate.getDate()).slice(-2)).getTimezoneOffset())/60
  let DSTOffset = offset < 0 ? '+01:00' : ''
  OtherDateStringStartTime = MyDate.getFullYear() + '-' + ('0' + (MyDate.getMonth()+1)).slice(-2) + '-' +('0' + MyDate.getDate()).slice(-2) + 'T' + fixtureDetails.startTime + DSTOffset
  OtherDateStringEndTime = MyDate.getFullYear() + '-' + ('0' + (MyDate.getMonth()+1)).slice(-2) + '-' +('0' + MyDate.getDate()).slice(-2) + 'T' + fixtureDetails.endTime + DSTOffset
%>
  
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
          "@type": "SportsEvent",
          "name": "<%= fixtureDetails.homeTeam %> vs <%= fixtureDetails.awayTeam %>",
          "startDate": "<%= OtherDateStringStartTime %>",
          "endDate": "<%= OtherDateStringEndTime %>",
          "url": "https://stockport-badminton.co.uk/event/<%= fixtureDetails.id %>/<%= MyDateString.replaceAll("/","") %>-<%= fixtureDetails.homeTeam %>-<%= fixtureDetails.awayTeam %>",
          "sport":"badminton",
          "competitor":[{
            "@type":"SportsTeam",
            "homeTeam":"<%= fixtureDetails.homeTeam %>"
          },{
            "@type":"SportsTeam",
            "awayTeam":"<%= fixtureDetails.awayTeam %>"
          }],
          "location":{
            "@type":"Place",
            "name":"<%= fixtureDetails.venueName %>",
            "hasMap":"<%= fixtureDetails.venueLink %>",
            "Lat":"<%= fixtureDetails.Lat %>",
            "Lng":"<%= fixtureDetails.Lng %>",
            "address":{
              "type":"PostalAddress",
              "streetAddress":"<%= fixtureDetails.venueAddress %>"
            }
          },
          "description":"Badminton match: <%= fixtureDetails.homeTeam%> vs <%= fixtureDetails.awayTeam%>",
          "eventAttendanceMode":"https://schema.org/OfflineEventAttendanceMode",
          "eventStatus": "https://schema.org/EventScheduled",
          "performer":{
            "@type":"Organization",
            "name":"<%= fixtureDetails.homeClub %>",
            "url":"<%= typeof fixtureDetails.clubWebsite !== 'undefined' ? fixtureDetails.clubWebsite : 'https://stockport-badminton.co.uk' %>"
          },
          "organizer":{
            "@type":"Organization",
            "name":"<%= fixtureDetails.homeClub %>",
            "url":"<%= typeof fixtureDetails.clubWebsite !== 'undefined' ? fixtureDetails.clubWebsite : 'https://stockport-badminton.co.uk' %>"
          }
        }
      </script>

<%}  }
 %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#673ab6"/>
    <meta name="description" content="Stockport &amp; District Badminton Association. <%= pageDescription %>">
    <meta name="author" content="">
    <meta property="og:title" content="Stockport &amp; District Badminton League - <%= pageTitle %>">
    <meta property="og:description" content="Stockport &amp; District Badminton Association. <%= pageDescription %>">
    <meta property="og:image" content="<%= static_path %>/beta/images/SDBLLogo.png">
    <meta property="og:url" content="<%= canonical %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:site_name" content="Stockport &amp; District Badminton League">
    <meta name="twitter:image:alt" content="Stockport &amp; District Badminton League">

    <title>Stockport &amp; District Badminton League - <%= pageTitle %></title>

    <%- include('touch-icons.ejs') -%>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- font awesome CSS-->
    <link rel="stylesheet" href="/scripts/@fortawesome/fontawesome-free/css/all.css">
    <%- include('datatables-css.ejs') -%>
    
    <link rel="stylesheet" type="text/css" href="<%= static_path %>/beta/css/custom.css"/>
    <% if (typeof canonical != 'undefined') { %>
      <link rel="canonical"
            href="<%= canonical %>" />
    <% } %>

    <% if (pageTitle == 'Local Badminton Club Information'){ 
      for (row of result ){ %>
        <script type="application/ld+json">
          {
            "@context": "http://schema.org/",
            "@type": "SportsClub",
            "name": "<%= row.name %> Badminton Club",
            "url": "<%= row.clubWebsite %>",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "<%= row.address %>",
              "addressLocality": "<%= row.address.match(/(Knutsford|Cheadle Hulme|Macclesfield|Cheadle Heath|East Didsbury|Manchester|Whalley Range|Wilmslow|Mellor|Disley)/g) %>",
              "addressRegion": "Cheshire",
              "postalCode": "<%= row.address.match(/([A-Z0-9]{3,4})\s([A-Z0-9]{3,4})/g) %>",
              "addressCountry": "GB"
            }
          }
          </script>

    <%  }

     } %>

  </head>
  <body>
