<%- include('./header.ejs') %>
<%- include('./nav.ejs') %>

<div class="col-md-4">
<h1>News</h1>
      <p class="lead">
        <strong class="font-weight-bold">Coronavirus update</strong><br />
        <strong class="font-weight-bold">In light of the current situation with the Covid-19 outbreak, the league executive has decided  that this seasons' League and Messer competitions will end now with the remaining fixtures unfinished.<br /> 
          At the moment it is impossible to set dates for the AGM, management or fixture meetings with confidence. As and when we get further advice we’ll communicate dates out to clubs.</strong><br /><br />
        <strong class="font-weight-bold">Handicap Tournament - Results</strong><br />
        <a href="<%= static_path %>/beta/docs/Handicap-Results-2020.xlsx">Handicap Results</a> &nbsp; <a href="<%= static_path %>/beta/docs/Handicap-Round-Robin-2020.docx">Round Robin Results</a><br /><br />
        <a href="#" data-toggle="modal" data-target="#tournamentModal" class="font-weight-bold text-primary">Photos of the Winners</a><br /><br />  
        <strong class="font-weight-bold">Messer Results!</strong><br />
        Latest results in the menu! - <a href="#" data-toggle="modal" data-target="#tournamentStatTimesModal" class="font-weight-bold text-primary">Notes from the Messer Results Secretary</a><br /><br />
        <strong class="font-weight-bold">Results Entry</strong><br />
        After a fairly short and succesful trial i'm rolling out results entry via the website - <a href="#" data-toggle="modal" data-target="#resultsEntryModal" class="font-weight-bold text-primary">Instructions</a><br /><br />
        
        As always - suggestions are always welcome - use the contact us menu to get in touch with me. Neil<br />
      </p>
</div>
<div class="col-md-4">
  <h1>Recent Results</h1>
  <% result.forEach(function(row){ %>
    <div class="row" itemscope itemtype="http://schema.org/Event">
    <%
      var MyDate = new Date(row['date']);
      var MyDateString, otherDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();

       otherDateString = MyDate.getFullYear() + '/'
                      + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                      + ('0' + MyDate.getDate()).slice(-2)
    %>
      <div class="col-3" itemprop="startDate" content="<%= otherDateString %>"><%= MyDateString %></div><div class="col" itemprop="name"><%= row['homeTeam'] %> vs <%= row['awayTeam'] %></div><div class="col-3"><%= row['homeScore'] %>-<%= row['awayScore'] %></div>
    </div>
  <% }) %>
</div>
<div class="col-md-4">
  <h1>Upcoming Fixtures</h1>
  <% row.forEach(function(result){ %>
  <div class="row">
    <%
      var MyDate = new Date(result['date']);
      var MyDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();
    %>
    <div class="col-3"><%= MyDateString %></div><div class="col"><%= result['homeTeam'] %> vs <%= result['awayTeam'] %></div>
  </div>
  <% }) %>
</div>

<%- include('JuniorTournamentModal.ejs') %>
<%- include('MesserNotesModal.ejs') %>
<%- include('tournamentPhotosCarouselModal.ejs') %>
<%- include('ResultsEntryModal.ejs') %>


<%- include('footer.ejs') %>


</body>
</html>
