<%- include('./header.ejs') %>
<%- include('./nav.ejs') %>



<div class="col-md-4">
<h1>News</h1>
      <p class="lead">
        <strong class="font-weight-bold">Roadmap for Return to Play</strong><br />
        The aim of this is to share what the League Executive considers are the available options and the possible implications for the 2020-21 season.<br /><br />
        The considerations set out here are all dependent on the ongoing nature of the Covid-19 pandemic and relevant government and Badminton England guidance. These should be interpreted as a guide as at this stage it is not possible to make definitive plans.<br /><br />
        In line with the Badminton England roadmap, we will restart League Badminton at the earliest when Phase 3 is reached, for which as yet there is no date. It is also clear that facility providers are taking different approaches and many clubs are not sure when they will be able to access their normal courts.<br /><br />
        Option A plans for the 2020-21 season as normal. If the season cannot start on time but is only delayed for a short period (a few weeks), we will aim to extend it beyond its traditional April finish (option B below).      <br /><br />
        If neither of the above scenarios are possible we will consider a revised calendar for the 2020-21 season (option C). This would apply if there was insufficient time to run a normal length season.<br /><br />
        Finally, there is the possibility an even later start may only allow for a shortened season to take place (option D). The likelihood of implementation of Option C or D will be assessed over the coming months.<br /><br />
        <strong class="font-weight-bold">Option A - Normal:</strong> Season runs normally from September 2020 to end of April 2021. League and Messer fixtures as usual plus tournaments. Regulations adjusted to cope with disruption including incomplete season.<br />
        <strong class="font-weight-bold">Option B - Delayed (similar calendar):</strong> Season runs normally but starts later and finishes later than usual, for example the end of October to mid May. League fixtures as normal, no Messer, some tournaments. Regulations adjusted to cope with disruption including incomplete season.<br />
        <strong class="font-weight-bold">Option C - Revised (new calendar):</strong> A significantly revised calendar is created for season running in a reduced window – e.g. end November 2020 to mid May 2021. No Messer, possibly some tournaments. Alternative divisional structure may be developed.<br />
        <strong class="font-weight-bold">Option D - Shortened:</strong> The season runs in a severely reduced window – e.g. end January 2021 to mid May 2021. In this scenario it could be that all play all but only once either home or away.<br /><br />
        As always - suggestions are always welcome - use the contact us menu to get in touch with me. Neil<br />
      </p>
</div>
<div class="col-md-4">
  <h1>Recent Results</h1>
  <% result.forEach(function(row){ %>
    <div class="row" itemscope itemtype="http://schema.org/Event">
    <%
      var MyDate = new Date(row['date']);
      var MyDateString, otherDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();

       otherDateString = MyDate.getFullYear() + '/'
                      + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                      + ('0' + MyDate.getDate()).slice(-2)
    %>
      <div class="col-3" itemprop="startDate" content="<%= otherDateString %>"><%= MyDateString %></div><div class="col" itemprop="name"><%= row['homeTeam'] %> vs <%= row['awayTeam'] %></div><div class="col-3"><%= row['homeScore'] %>-<%= row['awayScore'] %></div>
    </div>
  <% }) %>
</div>
<div class="col-md-4">
  <h1>Upcoming Fixtures</h1>
  <% row.forEach(function(result){ %>
  <div class="row">
    <%
      var MyDate = new Date(result['date']);
      var MyDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();
    %>
    <div class="col-3"><%= MyDateString %></div><div class="col"><%= result['homeTeam'] %> vs <%= result['awayTeam'] %></div>
  </div>
  <% }) %>
</div>

<%- include('JuniorTournamentModal.ejs') %>
<%- include('MesserNotesModal.ejs') %>
<%- include('tournamentPhotosCarouselModal.ejs') %>
<%- include('ResultsEntryModal.ejs') %>


<%- include('footer.ejs') %>


</body>
</html>
