<%- include('./header.ejs'); -%>
<%- include('./nav.ejs'); -%>



<div class="col-md-4">
<h1>News</h1>

      <p class="lead">
        <strong>Rearrangements</strong><br />
        Could clubs ensure the results secretary is included in all communications with regards rearrangements. This ensures the website is up to date, and any delays / disputes can be handled in a timely manner.<br /><br />
        <strong>Macclesfield Centenary Year</strong><br />
        Congratulations to Macclesfield Badminton Club who celebrate their Centenary this year.<br />The club started on November 5th 1924 playing at the Drill Hall in Macclesfield, where they remained until the closure of the Drill Hall in 1990, since when they have played in various halls.<br />The club joined the Stockport League in the 1970-71 season, getting into the top division in 1975 where they have been ever since - the longest stretch of any of the current clubs.<br />The club have been League Champions 18 times and won the Messer 8 times.<br /><br />
        As always - questions / suggestions are always welcome - use the contact us menu to get in touch with me. Neil<br />
      </p>
</div>
<div class="col-md-4">
  <h1>Recent Results</h1>
  <% result.forEach(function(row){ %>
    <div class="row">
    <%
      var MyDate = new Date(row['date']);
      var MyDateString, otherDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();

       otherDateString = MyDate.getFullYear() + '/'
                      + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                      + ('0' + MyDate.getDate()).slice(-2)
    %>
    <div class="col-3"><%= MyDateString %></div>
    <div class="col"><%= row['homeTeam'] %> vs <%= row['awayTeam'] %></div>
    <div class="col-3"><%= row['homeScore'] %>-<%= row['awayScore'] %></div>
    </div>
  <% }) %>
</div>
<div class="col-md-4">
  <h1>Upcoming Fixtures</h1>
  <% if (typeof row !== 'undefined') { %>
  <% row.forEach(function(result){ %>
    <div class="row">
    <%
      var MyDate = new Date(result['date']);
      var MyDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();
    %>
    <div class="col-3"><%= MyDateString %></div>
    <div class="col"><a href="<%= '/event/' + result.id + '/' + MyDateString.replaceAll("/","") + '-' + result.homeTeam + '-' + result.awayTeam %>"><%= result['homeTeam'] %> vs <%= result['awayTeam'] %></a></div>
  </div>
  <% }) } %>
</div>

<%- include('GeneraNoteModal.ejs') %>
<%- include('generatedTournamentGallery.ejs') %>

<%- include('footer.ejs') %>


</body>
</html>
