<%- include('./header.ejs') %>
<%- include('./nav.ejs') %>



<div class="col-md-4">
<h1>News</h1>

      <p class="lead">
        <strong>Player Registrations</strong><br /><br />
        Player registration deadline extended to 31st March as a result of the season running longer than usual<br /><br />
        <strong class="font-weight-bold">Handicap Tournament Results</strong><br /><br />
        The closest final was in the Veteran Mixed Doubles where Alison Cosadinos and Phil Santana-Reedy beat Paula Kite and Andy Brown 18-21, 21-14, 21-20, with Alison holding her nerve at 20-20 to deliver an excellent low serve to the on rushing Andy Brown. Alison then followed this with another winning 3 setter in her final match in the Womens Doubles, to take the title with partner Jo Hilliard.<br />
        Andy though did win the other final he was in, partnering Mike Jones to overcome Mian Malik and Colin Bradbury.<br /> 
        Judith Peatman and Dave Haigh took the Handicap Mixed with Jill Naylor and Don Bullough victors in the Paine Plate.<br />
        Thanks to Yehlex for their sponsorship of the tournaments and to Phil Santana-Reedy for his help on the day.<br /><br />
        <a href="#" data-toggle="modal" data-target="#tournamentModal" class="font-weight-bold text-primary">Winners Gallery</a><br />
        
        
        As always - questions / suggestions are always welcome - use the contact us menu to get in touch with me. Neil<br />
      </p>
</div>
<div class="col-md-4">
  <h1>Recent Results</h1>
  <% result.forEach(function(row){ %>
    <div class="row" itemscope itemtype="http://schema.org/Event">
    <%
      var MyDate = new Date(row['date']);
      var MyDateString, otherDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();

       otherDateString = MyDate.getFullYear() + '/'
                      + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                      + ('0' + MyDate.getDate()).slice(-2)
    %>
      <div class="col-3" itemprop="startDate" content="<%= otherDateString %>"><%= MyDateString %></div><div class="col" itemprop="name"><%= row['homeTeam'] %> vs <%= row['awayTeam'] %></div><div class="col-3"><%= row['homeScore'] %>-<%= row['awayScore'] %></div>
    </div>
  <% }) %>
</div>
<div class="col-md-4">
  <h1>Upcoming Fixtures</h1>
  <% row.forEach(function(result){ %>
  <div class="row">
    <%
      var MyDate = new Date(result['date']);
      var MyDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();
    %>
    <div class="col-3"><%= MyDateString %></div><div class="col"><%= result['homeTeam'] %> vs <%= result['awayTeam'] %></div>
  </div>
  <% }) %>
</div>

<%- include('JuniorTournamentModal.ejs') %>
<%- include('TournamentNotesModal.ejs') %>
<%- include('MesserNotesModal.ejs') %>
<%- include('tournamentPhotosCarouselModal.ejs') %>
<%- include('ResultsEntryModal.ejs') %>
<%- include('GeneraNoteModal.ejs') %>


<%- include('footer.ejs') %>


</body>
</html>
