<%- include('./header.ejs') %>
<%- include('./nav.ejs') %>

<div class="col-md-4">
<h1>News</h1>
      <p class="lead">
        <strong class="font-weight-bold">Merry Christmas</strong><br />
        <strong class="font-weight-bold">Tournament Results!</strong><br />
        <a href="#" data-toggle="modal" data-target="#tournamentModal" class="font-weight-bold text-primary">Photos</a><br />
        Results are in the menu<br />
        Follow <a href="https://www.twitter.com/BaddersResults" target="_blank">@BaddersResults</a> on twitter to see results as they're entered.<br />
        As always - suggestions are always welcome - use the contact us menu to get in touch with me. Neil
      </p>
</div>
<div class="col-md-4">
  <h1>Recent Results</h1>
  <% result.forEach(function(row){ %>
    <div class="row" itemscope itemtype="http://schema.org/Event">
    <%
      var MyDate = new Date(row['date']);
      var MyDateString, otherDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();

       otherDateString = MyDate.getFullYear() + '/'
                      + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                      + ('0' + MyDate.getDate()).slice(-2)
    %>
      <div class="col-3" itemprop="startDate" content="<%= otherDateString %>"><%= MyDateString %></div><div class="col" itemprop="name"><%= row['homeTeam'] %> vs <%= row['awayTeam'] %></div><div class="col-3"><%= row['homeScore'] %>-<%= row['awayScore'] %></div>
    </div>
  <% }) %>
</div>
<div class="col-md-4">
  <h1>Upcoming Fixtures</h1>
  <% row.forEach(function(result){ %>
  <div class="row">
    <%
      var MyDate = new Date(result['date']);
      var MyDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();
    %>
    <div class="col-3"><%= MyDateString %></div><div class="col"><%= result['homeTeam'] %> vs <%= result['awayTeam'] %></div>
  </div>
  <% }) %>
</div>

<div class="modal" id="tournamentModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Tournament Winners</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="<%= static_path %>/beta/images/tournament2019/1024/Mens-Singles.JPEG" media="(min-width: 1024px)">
                    <source srcset="<%= static_path %>/beta/images/tournament2019/760/Mens-Singles.JPEG" media="(min-width: 760px)">
                    <source srcset="<%= static_path %>/beta/images/tournament2019/300/Mens-Singles.JPEG" media="(min-width: 320px)">
                    <!--[if IE 9]></video><![endif]-->
                    <img class="d-block img-fluid" src="<%= static_path %>/beta/images/tournament2019/1024/Mens-Singles.JPEG" width="100%" border=0 alt="" title=""/>
                </picture>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Open Mens Singles Winner</h5>
                </div>
              </div>
              <div class="carousel-item">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="<%= static_path %>/beta/images/tournament2019/1024/Men-Doubles.JPEG" media="(min-width: 1024px)">
                    <source srcset="<%= static_path %>/beta/images/tournament2019/760/Men-Doubles.JPEG" media="(min-width: 760px)">
                    <source srcset="<%= static_path %>/beta/images/tournament2019/300/Men-Doubles.JPEG" media="(min-width: 320px)">
                    <!--[if IE 9]></video><![endif]-->
                    <img class="d-block img-fluid" src="<%= static_path %>/beta/images/tournament2019/1024/Mens-Doubles.JPEG" width="100%" border=0 alt="" title=""/>
                </picture>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Open Mens Doubles Winners</h5>
                </div>
              </div>
              <div class="carousel-item">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="<%= static_path %>/beta/images/tournament2019/1024/Ladies-Doubles.JPEG" media="(min-width: 1024px)">
                    <source srcset="<%= static_path %>/beta/images/tournament2019/760/Ladies-Doubles.JPEG" media="(min-width: 760px)">
                    <source srcset="<%= static_path %>/beta/images/tournament2019/300/Ladies-Doubles.JPEG" media="(min-width: 320px)">
                    <!--[if IE 9]></video><![endif]-->
                    <img class="d-block img-fluid" src="<%= static_path %>/beta/images/tournament2019/1024/Ladies-Doubles.JPEG" width="100%" border=0 alt="" title=""/>
                </picture>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Open Ladies Doubles Winners</h5>
                </div>
              </div>
              <div class="carousel-item">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="<%= static_path %>/beta/images/tournament2019/1024/Mixed-Doubles.JPEG" media="(min-width: 1024px)">
                    <source srcset="<%= static_path %>/beta/images/tournament2019/760/Mixed-Doubles.JPEG" media="(min-width: 760px)">
                    <source srcset="<%= static_path %>/beta/images/tournament2019/300/Mixed-Doubles.JPEG" media="(min-width: 320px)">
                    <!--[if IE 9]></video><![endif]-->
                    <img class="d-block img-fluid" src="<%= static_path %>/beta/images/tournament2019/1024/Mixed-Doubles.JPEG" width="100%" border=0 alt="" title=""/>
                </picture>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Open Mixed Doubles Winners</h5>
                </div>
              </div>
              <div class="carousel-item">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="<%= static_path %>/beta/images/tournament2019/1024/Supervet-Mens-Doubles.JPEG" media="(min-width: 1024px)">
                    <source srcset="<%= static_path %>/beta/images/tournament2019/760/Supervet-Mens-Doubles.JPEG" media="(min-width: 760px)">
                    <source srcset="<%= static_path %>/beta/images/tournament2019/300/Supervet-Mens-Doubles.JPEG" media="(min-width: 320px)">
                    <!--[if IE 9]></video><![endif]-->
                    <img class="d-block img-fluid" src="<%= static_path %>/beta/images/tournament2019/1024/Supervet-Mens-Doubles.JPEG" width="100%" border=0 alt="" title=""/>
                </picture>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Supervet Mens Doubles Winners</h5>
                </div>
              </div>
              <div class="carousel-item">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="<%= static_path %>/beta/images/tournament2019/1024/B-Mens-Singles.JPEG" media="(min-width: 1024px)">
                    <source srcset="<%= static_path %>/beta/images/tournament2019/760/B-Mens-Singles.JPEG" media="(min-width: 760px)">
                    <source srcset="<%= static_path %>/beta/images/tournament2019/300/B-Mens-Singles.JPEG" media="(min-width: 320px)">
                    <!--[if IE 9]></video><![endif]-->
                    <img class="d-block img-fluid" src="<%= static_path %>/beta/images/tournament2019/1024/B-Mens-Singles.JPEG" width="100%" border=0 alt="" title=""/>
                </picture>
                <div class="carousel-caption d-none d-md-block">
                  <h5>B Mens Singles Winner</h5>
                </div>
              </div>
              <div class="carousel-item">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="<%= static_path %>/beta/images/tournament2019/1024/B-Mixed-Doubles.JPEG" media="(min-width: 1024px)">
                    <source srcset="<%= static_path %>/beta/images/tournament2019/760/B-Mixed-Doubles.JPEG" media="(min-width: 760px)">
                    <source srcset="<%= static_path %>/beta/images/tournament2019/300/B-Mixed-Doubles.JPEG" media="(min-width: 320px)">
                    <!--[if IE 9]></video><![endif]-->
                    <img class="d-block img-fluid" src="<%= static_path %>/beta/images/tournament2019/1024/B-Mixed-Doubles.JPEG" width="100%" border=0 alt="" title=""/>
                </picture>
                <div class="carousel-caption d-none d-md-block">
                  <h5>B Mixed Doubles Winners</h5>
                </div>
              </div>
              <div class="carousel-item">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="<%= static_path %>/beta/images/tournament2019/1024/C-Mens-Doubles.JPEG" media="(min-width: 1024px)">
                    <source srcset="<%= static_path %>/beta/images/tournament2019/760/C-Mens-Doubles.JPEG" media="(min-width: 760px)">
                    <source srcset="<%= static_path %>/beta/images/tournament2019/300/C-Mens-Doubles.JPEG" media="(min-width: 320px)">
                    <!--[if IE 9]></video><![endif]-->
                    <img class="d-block img-fluid" src="<%= static_path %>/beta/images/tournament2019/1024/C-Mens-Doubles.JPEG" width="100%" border=0 alt="" title=""/>
                </picture>
                <div class="carousel-caption d-none d-md-block">
                  <h5>C Mens Doubles Winners</h5>
                </div>
              </div>
              <div class="carousel-item">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="<%= static_path %>/beta/images/tournament2019/1024/C-Mixed-Doubles.JPEG" media="(min-width: 1024px)">
                    <source srcset="<%= static_path %>/beta/images/tournament2019/760/C-Mixed-Doubles.JPEG" media="(min-width: 760px)">
                    <source srcset="<%= static_path %>/beta/images/tournament2019/300/C-Mixed-Doubles.JPEG" media="(min-width: 320px)">
                    <!--[if IE 9]></video><![endif]-->
                    <img class="d-block img-fluid" src="<%= static_path %>/beta/images/tournament2019/1024/C-Mixed-Doubles.JPEG" width="100%" border=0 alt="" title=""/>
                </picture>
                <div class="carousel-caption d-none d-md-block">
                  <h5>C Mixed Doubles Winners</h5>
                </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="tournamentStatTimesModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Tournament Start Times</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <strong>SUNDAY NOVEMBER 10th</strong><br />
        OPEN MENS SINGLES 7.00pm<br />
        OPEN WOMENS SINGLES 7.30pm <br />
        OPEN MIXED DOUBLES 6.00pm <br /> 
        ‘B’ MENS DOUBLES 6.30pm  <br />
        ‘B’ WOMENS DOUBLES 7.00pm <br />
        ‘C’ MENS DOUBLES 6.00pm  <br />
        ‘C’ WOMENS DOUBLES 7.00pm <br /><br />
        <strong>SUNDAY NOVEMBER 17th </strong><br />
        OPEN MENS DOUBLES 6.00pm  <br />
        OPEN WOMENS DOUBLES 6.00pm <br />
        ‘B’ SINGLES 6.00pm  <br />
        ‘B’ MIXED DOUBLES 6.30pm <br />
        ‘C’ MIXED DOUBLES 7.00pm <br />
        SUPERVET MENS DOUBLES 6.30pm 
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<%- include('footer.ejs') %>


</body>
</html>
