<%- include('./header.ejs') %>
<%- include('./nav.ejs') %>



<div class="col-md-4">
<h1>News</h1>

      <p class="lead">
        <strong class="font-weight-bold">Player Standngs</strong><br />
        Please find a short note <a href="#" data-toggle="modal" data-target="#GeneralNoteModal" class="font-weight-bold text-primary">here</a> from the committee about player standings this season
        <strong class="font-weight-bold">Tournament Results</strong><br /><br />
        Good to see Badminton being played again and also some newcomers to the League taking part.<br />
        The closest finals were in the Open Men's Singles where Tom Huggan narrowly defeated Canny Lai 18-21, 21-18, 24-22 and the B Mixed Doubles where Laura Mashiter and Darren Gilberthorpe beat Dawn Jeun and Stuart McCracken 25-23, 23-21. Stuart though did have a successful tournament winning the B Men's Singles and C Mixed with Dawn.<br />
        2 long 3 setters in the B and C Men's Doubles where Carl and Cameron McGregor-Ogden played Phil Santana-Reedy and Rob Wakefield in both events. In the first round of the B Carl and Cameron won but then Phil and Rob gained revenge by winning the final of the C Men's Doubles.<br />
        Andy Henshall won his first Stockport League title alongside Ian Cottrill in the Open Men's Doubles. Tom Huggan gained his second title of the day when he won the Open Mixed with Sharon Mulholland. Hannah Hernon also took two titles winning the Women's Singles and then the B Women's Doubles with Louise Tucker.<br />
        In the Supervet events Jason Slevin and Canny Lai won the Men's Doubles with Jill Naylor and Don Bullough taking the Mixed.<br />
        Thanks to Yehlex for their sponsorship of the tournaments and to Phil Santana-Reedy for his help on the day.<br />
        A reminder that the Handicap Tournaments will be held on March 5th and 12th.<br /><br />
        <a href="#" data-toggle="modal" data-target="#tournamentModal" class="font-weight-bold text-primary">Winners Gallery</a><br />
        <a href="<%= static_path %>/beta/docs/OpenResults2021.xlsx" target="_blank">Open Results</a><br />
        <a href="<%= static_path %>/beta/docs/OpenRoundRobinResults2021.docx" target="_blank">Open Round Robin Results</a><br />
        As always - questions / suggestions are always welcome - use the contact us menu to get in touch with me. Neil<br />
      </p>
</div>
<div class="col-md-4">
  <h1>Recent Results</h1>
  <% result.forEach(function(row){ %>
    <div class="row" itemscope itemtype="http://schema.org/Event">
    <%
      var MyDate = new Date(row['date']);
      var MyDateString, otherDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();

       otherDateString = MyDate.getFullYear() + '/'
                      + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                      + ('0' + MyDate.getDate()).slice(-2)
    %>
      <div class="col-3" itemprop="startDate" content="<%= otherDateString %>"><%= MyDateString %></div><div class="col" itemprop="name"><%= row['homeTeam'] %> vs <%= row['awayTeam'] %></div><div class="col-3"><%= row['homeScore'] %>-<%= row['awayScore'] %></div>
    </div>
  <% }) %>
</div>
<div class="col-md-4">
  <h1>Upcoming Fixtures</h1>
  <% row.forEach(function(result){ %>
  <div class="row">
    <%
      var MyDate = new Date(result['date']);
      var MyDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();
    %>
    <div class="col-3"><%= MyDateString %></div><div class="col"><%= result['homeTeam'] %> vs <%= result['awayTeam'] %></div>
  </div>
  <% }) %>
</div>

<%- include('JuniorTournamentModal.ejs') %>
<%- include('TournamentNotesModal.ejs') %>
<%- include('MesserNotesModal.ejs') %>
<%- include('tournamentPhotosCarouselModal.ejs') %>
<%- include('ResultsEntryModal.ejs') %>
<%- include('GeneraNoteModal.ejs') %>


<%- include('footer.ejs') %>


</body>
</html>
