<%- include('./header.ejs'); -%>
<%- include('./nav.ejs'); -%>



<div class="col-md-4">
<h1>News</h1>

      <p class="lead">
        <strong>Handicap Tournament</strong><br />
        Saturday 4th March 1pm-5pm: Handicap Singles, Handicap Mixed, Paine Plate, Veteran Doubles<br />
        Saturday 11th March 1pm-5pm: Handicap Doubles, Veteran Mixed, Veteran Singles, Family Mixed <br />
        <strong>Closing dates</strong><br /> 
        Handicap, Veteran: Friday 24th February<br />
        <a data-toggle="modal" href="#HandicapTournamentNotesModal">Tournament Details</a><br />
        <a href="<%= static_path %>/beta/docs/HandicapIndividualEntryForm.docx">Entry Form</a><br />
        <br /><br />
        As always - questions / suggestions are always welcome - use the contact us menu to get in touch with me. Neil<br />
      </p>
</div>
<div class="col-md-4">
  <h1>Recent Results</h1>
  <% result.forEach(function(row){ %>
    <div class="row" itemscope itemtype="http://schema.org/Event">
    <%
      var MyDate = new Date(row['date']);
      var MyDateString, otherDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();

       otherDateString = MyDate.getFullYear() + '/'
                      + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                      + ('0' + MyDate.getDate()).slice(-2)
    %>
    <data itemprop="location" itemscope itemtype="http://schema.org/Place"><data itemprop="address" value="<%= row['address'] %>"></data></data><div class="col-3" itemprop="startDate" content="<%= otherDateString %>"><%= MyDateString %></div><div class="col" itemprop="name"><%= row['homeTeam'] %> vs <%= row['awayTeam'] %></div><div class="col-3"><%= row['homeScore'] %>-<%= row['awayScore'] %></div>
    </div>
  <% }) %>
</div>
<div class="col-md-4">
  <h1>Upcoming Fixtures</h1>
  <% row.forEach(function(result){ %>
    <div class="row" itemscope itemtype="http://schema.org/Event">
    <%
      var MyDate = new Date(result['date']);
      var MyDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();
    %>
    <data itemprop="location" itemscope itemtype="http://schema.org/Place"><data itemprop="address" value="<%= result['address'] %>"></data></data><div class="col-3" itemprop="startDate"><%= MyDateString %></div><div class="col" itemprop="name"><%= result['homeTeam'] %> vs <%= result['awayTeam'] %></div>
  </div>
  <% }) %>
</div>

<%- include('GeneraNoteModal.ejs') %>
<%- include('HandicapTournamentNotesModal.ejs') %>


<%- include('footer.ejs') %>


</body>
</html>
