<%- include('./header.ejs') %>
<%- include('./nav.ejs') %>



<div class="col-md-4">
<h1>News</h1>

      <p class="lead">
        <strong class="font-weight-bold">And we're off!</strong><br />
        First fixtures have been played and first result submitted online too!<br /><br />
        Don't forget to get your team registrations in before your first matches<br><br />
        <strong class="font-weight-bold">Open Tournaments</strong><br />
        Entry forms are in the menu as usual; details <a href="#" data-toggle="modal" data-target="#tournamentNotesModal" class="font-weight-bold text-primary">here</a><br /><br />
        Also - if you're new to being a team captain - results entry is all online, hit login in the menu and use the signup option<br /><br />
        You'll need a scorecard during the match - again - link to a pdf of the scorecard is in the menu above <br /><br />
        As always - questions / suggestions are always welcome - use the contact us menu to get in touch with me. Neil<br />
      </p>
</div>
<div class="col-md-4">
  <h1>Recent Results</h1>
  <% result.forEach(function(row){ %>
    <div class="row" itemscope itemtype="http://schema.org/Event">
    <%
      var MyDate = new Date(row['date']);
      var MyDateString, otherDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();

       otherDateString = MyDate.getFullYear() + '/'
                      + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                      + ('0' + MyDate.getDate()).slice(-2)
    %>
      <div class="col-3" itemprop="startDate" content="<%= otherDateString %>"><%= MyDateString %></div><div class="col" itemprop="name"><%= row['homeTeam'] %> vs <%= row['awayTeam'] %></div><div class="col-3"><%= row['homeScore'] %>-<%= row['awayScore'] %></div>
    </div>
  <% }) %>
</div>
<div class="col-md-4">
  <h1>Upcoming Fixtures</h1>
  <% row.forEach(function(result){ %>
  <div class="row">
    <%
      var MyDate = new Date(result['date']);
      var MyDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();
    %>
    <div class="col-3"><%= MyDateString %></div><div class="col"><%= result['homeTeam'] %> vs <%= result['awayTeam'] %></div>
  </div>
  <% }) %>
</div>

<%- include('JuniorTournamentModal.ejs') %>
<%- include('TournamentNotesModal.ejs') %>
<%- include('MesserNotesModal.ejs') %>
<%- include('tournamentPhotosCarouselModal.ejs') %>
<%- include('ResultsEntryModal.ejs') %>


<%- include('footer.ejs') %>


</body>
</html>
