<%- include('./header.ejs') %>
<%- include('./nav.ejs') %>

<div class="col-md-4">
<h1>News</h1>
      <p class="lead">
        <strong class="font-weight-bold">Handicap Tournament</strong><br />
        Entry Forms in the menu as usual - <a href="#" data-toggle="modal" data-target="#tournamentNotesModal" class="font-weight-bold text-primary">Notes from the Tournament Secretary</a><br /><br />
        <strong class="font-weight-bold">Messer Results!</strong><br />
        Results in the menu as usual - <a href="#" data-toggle="modal" data-target="#tournamentStatTimesModal" class="font-weight-bold text-primary">Notes from the Messer Results Secretary</a><br /><br />
        <strong class="font-weight-bold">Results Entry Trial</strong><br />
        Over christmas i've managed to do a number of things - one includes hopefully removing the need for the spreadsheet for results entry. Currently it's in a beta trial, so if anybody is interested in giving it a go drop me an email - i can be contacted via the contact us for or via email.<br /><br />
        Follow <a href="https://www.twitter.com/BaddersResults" target="_blank">@BaddersResults</a> on twitter to see results as they're entered.<br />
        As always - suggestions are always welcome - use the contact us menu to get in touch with me. Neil
      </p>
</div>
<div class="col-md-4">
  <h1>Recent Results</h1>
  <% result.forEach(function(row){ %>
    <div class="row" itemscope itemtype="http://schema.org/Event">
    <%
      var MyDate = new Date(row['date']);
      var MyDateString, otherDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();

       otherDateString = MyDate.getFullYear() + '/'
                      + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                      + ('0' + MyDate.getDate()).slice(-2)
    %>
      <div class="col-3" itemprop="startDate" content="<%= otherDateString %>"><%= MyDateString %></div><div class="col" itemprop="name"><%= row['homeTeam'] %> vs <%= row['awayTeam'] %></div><div class="col-3"><%= row['homeScore'] %>-<%= row['awayScore'] %></div>
    </div>
  <% }) %>
</div>
<div class="col-md-4">
  <h1>Upcoming Fixtures</h1>
  <% row.forEach(function(result){ %>
  <div class="row">
    <%
      var MyDate = new Date(result['date']);
      var MyDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();
    %>
    <div class="col-3"><%= MyDateString %></div><div class="col"><%= result['homeTeam'] %> vs <%= result['awayTeam'] %></div>
  </div>
  <% }) %>
</div>

<%- include('MesserNotesModal.ejs') %>

<%- include('TournamentNotesModal.ejs') %>


<%- include('footer.ejs') %>


</body>
</html>
