<%- include('./header.ejs') %>
<%- include('./nav.ejs') %>

<div class="col-md-4">
<h1>News</h1>
      <p class="lead">
        <strong class="font-weight-bold">Messer Results!</strong><br />
        Latest results in the menu! - <a href="#" data-toggle="modal" data-target="#tournamentStatTimesModal" class="font-weight-bold text-primary">Notes from the Messer Results Secretary</a><br /><br />
        <strong class="font-weight-bold">Junior Tournament Entry Form</strong><br />
        The Stockport Junior Tournament will be held at Poynton Leisure Centre on 14 March. <a href="#" data-toggle="modal" data-target="#JuniorTournamentModal" class="font-weight-bold text-primary">Further Details and Entry form</a><br /><br />
        <strong class="font-weight-bold">Results Entry</strong><br />
        After a fairly short and succesful trial i'm rolling out results entry via the website - <a href="#" data-toggle="modal" data-target="#resultsEntryModal" class="font-weight-bold text-primary">Instructions</a><br /><br />
        <strong class="font-weight-bold">Handicap Tournament</strong><br />
        Entry Forms in the menu as usual - <a href="#" data-toggle="modal" data-target="#tournamentNotesModal" class="font-weight-bold text-primary">Notes from the Tournament Secretary</a><br /><br />  
        As always - suggestions are always welcome - use the contact us menu to get in touch with me. Neil<br />
      </p>
</div>
<div class="col-md-4">
  <h1>Recent Results</h1>
  <% result.forEach(function(row){ %>
    <div class="row" itemscope itemtype="http://schema.org/Event">
    <%
      var MyDate = new Date(row['date']);
      var MyDateString, otherDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();

       otherDateString = MyDate.getFullYear() + '/'
                      + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                      + ('0' + MyDate.getDate()).slice(-2)
    %>
      <div class="col-3" itemprop="startDate" content="<%= otherDateString %>"><%= MyDateString %></div><div class="col" itemprop="name"><%= row['homeTeam'] %> vs <%= row['awayTeam'] %></div><div class="col-3"><%= row['homeScore'] %>-<%= row['awayScore'] %></div>
    </div>
  <% }) %>
</div>
<div class="col-md-4">
  <h1>Upcoming Fixtures</h1>
  <% row.forEach(function(result){ %>
  <div class="row">
    <%
      var MyDate = new Date(result['date']);
      var MyDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();
    %>
    <div class="col-3"><%= MyDateString %></div><div class="col"><%= result['homeTeam'] %> vs <%= result['awayTeam'] %></div>
  </div>
  <% }) %>
</div>

<%- include('JuniorTournamentModal.ejs') %>
<%- include('MesserNotesModal.ejs') %>
<%- include('TournamentNotesModal.ejs') %>
<%- include('ResultsEntryModal.ejs') %>


<%- include('footer.ejs') %>


</body>
</html>
