<%- include('./header.ejs'); -%>
<%- include('./nav.ejs'); -%>



<div class="col-md-4">
<h1>News</h1>

      <p class="lead">
        <strong>Junior Tournament 2024</strong><br />
        The Stockport Junior Tournament will be held on 14th September 2024 at Poynton Leisure Centre.<br />
        Further Details and Entry form <a href="#" data-toggle="modal" data-target="#JuniorTournamentModal">here</a>
        <br /><br />

        <strong>Messer Final</strong><br />
        The Messer Final between Macclesfield A and Cheadle Hulme B was won by Macclesfield 13-2, although the actual games were much closer than the overall score suggested.<br />
        <a href="#" data-toggle="modal" data-target="#generatedTournamentGalleryModal">Gallery</a><br /><br />

        <strong>Messer Group B Final</strong><br />
        Was an exciting final. Manor were leading 7-5 going into the mixed and were also up at the turn in 2 of the 3 mixed but Cheadle Hulme B came back strongly winning all 3 mixed to win the match.<br /><br />

        <strong>Messer Group A Final</strong><br />
        The Messer Group A final was quite close at 4-4, before Macclesfield won the next 6 games to build up an unassailable lead. Again there were several close games with 3 being 21-20 and the final score was 10-5 to Macclesfield.
        <br /><br />

        As always - questions / suggestions are always welcome - use the contact us menu to get in touch with me. Neil<br />
      </p>
</div>
<div class="col-md-4">
  <h1>Recent Results</h1>
  <% result.forEach(function(row){ %>
    <div class="row" itemscope itemtype="http://schema.org/Event">
    <%
      var MyDate = new Date(row['date']);
      var MyDateString, otherDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();

       otherDateString = MyDate.getFullYear() + '/'
                      + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                      + ('0' + MyDate.getDate()).slice(-2)
    %>
    <data itemprop="location" itemscope itemtype="http://schema.org/Place">
      <data itemprop="name" value="" class="d-none"><%= row['venueName'] %></data>
      <a itemprop="hasMap" href="<%= row['mapLink'] %>" class="d-none"></a>
      <data itemprop="latitude" value="" class="d-none"><%= row['Lat'] %></data>
      <data itemprop="longitude" value="" class="d-none"><%= row['Lng'] %></data>
      <data itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
          <data itemprop="streetAddress" value="<%= row['address'] %>"></data>
      </data>
    </data><div class="col-3" itemprop="startDate" content="<%= otherDateString %>"><%= MyDateString %></div><div class="col" itemprop="name"><%= row['homeTeam'] %> vs <%= row['awayTeam'] %></div><div class="col-3"><%= row['homeScore'] %>-<%= row['awayScore'] %></div>
    </div>
  <% }) %>
</div>
<div class="col-md-4">
  <h1>Upcoming Fixtures</h1>
  <% row.forEach(function(result){ %>
    <div class="row" itemscope itemtype="http://schema.org/Event">
    <%
      var MyDate = new Date(result['date']);
      var MyDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();
    %>
    <data itemprop="location" itemscope itemtype="http://schema.org/Place"><data itemprop="name" value="" class="d-none"><%= result['venueName'] %></data><a itemprop="hasMap" href="<%= result['mapLink'] %>" class="d-none"></a>
    <data itemprop="latitude" value="" class="d-none"><%= result['Lat'] %></data>
    <data itemprop="longitude" value="" class="d-none"><%= result['Lng'] %></data><data itemprop="address" itemscope itemtype="https://schema.org/PostalAddress"><data itemprop="streetAddress" value="<%= result['address'] %>"></data></data></data><div class="col-3" itemprop="startDate"><%= MyDateString %></div><div class="col" itemprop="name"><%= result['homeTeam'] %> vs <%= result['awayTeam'] %></div>
  </div>
  <% }) %>
</div>

<%- include('GeneraNoteModal.ejs') %>
<%- include('JuniorTournamentModal.ejs') %>
<%- include('generatedTournamentGallery.ejs') %>

<%- include('footer.ejs') %>


</body>
</html>
