<%- include('./header.ejs') %>
<%- include('./nav.ejs') %>



<div class="col-md-4">
<h1>News</h1>

      <p class="lead">
        <strong class="font-weight-bold">Roadmap for Return to Play</strong><br />
        With several clubs unable to access their venues and the continued uncertainty over the impact of lockdown measures, we have decided that Options A, B and C will not be adopted for the return of the League. This now leaves Option D as the only possibility.<br />
        <strong class="font-weight-bold">Option D - Shortened:</strong> The season runs in a severely reduced window – e.g. end January 2021 to mid May 2021. In this scenario it could be that all play all but only once either home or away.<br />
        This would be from January 2021 at the earliest.<br />
        If clubs do have a change in venue availability from that notified at the end of August, we would appreciate it if you could update us. Thanks to the clubs who have done this, which does give us a better picture of the current situation.<br />
        As always - suggestions are always welcome - use the contact us menu to get in touch with me. Neil<br />
      </p>
</div>
<div class="col-md-4">
  <h1>Recent Results</h1>
  <% result.forEach(function(row){ %>
    <div class="row" itemscope itemtype="http://schema.org/Event">
    <%
      var MyDate = new Date(row['date']);
      var MyDateString, otherDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();

       otherDateString = MyDate.getFullYear() + '/'
                      + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                      + ('0' + MyDate.getDate()).slice(-2)
    %>
      <div class="col-3" itemprop="startDate" content="<%= otherDateString %>"><%= MyDateString %></div><div class="col" itemprop="name"><%= row['homeTeam'] %> vs <%= row['awayTeam'] %></div><div class="col-3"><%= row['homeScore'] %>-<%= row['awayScore'] %></div>
    </div>
  <% }) %>
</div>
<div class="col-md-4">
  <h1>Upcoming Fixtures</h1>
  <% row.forEach(function(result){ %>
  <div class="row">
    <%
      var MyDate = new Date(result['date']);
      var MyDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();
    %>
    <div class="col-3"><%= MyDateString %></div><div class="col"><%= result['homeTeam'] %> vs <%= result['awayTeam'] %></div>
  </div>
  <% }) %>
</div>

<%- include('JuniorTournamentModal.ejs') %>
<%- include('MesserNotesModal.ejs') %>
<%- include('tournamentPhotosCarouselModal.ejs') %>
<%- include('ResultsEntryModal.ejs') %>


<%- include('footer.ejs') %>


</body>
</html>
