<%- include('./header.ejs') %>
<%- include('./nav.ejs') %>



<div class="col-md-4">
<h1>News</h1>

      <p class="lead">
        <strong class="font-weight-bold">Welcome back!</strong><br />
        Thank you to everybody who attended the AGM recently. Good to see so many faces again after a long time out.<br><br />
        <strong class="font-weight-bold"></strong>Some dates for your diaries:</strong><br />
        23rd August: Provisional team entries<br />
        Week commencing 6th September: Fixture meeting (exact date TBC once venue confirmed)<br />
        October 4th: Official season start, but teams welcome to play fixtures earlier<br /><br />
        <strong class="font-weight-bold">Other news</strong><br />
        Membership - League fees waived for the comming season<br />
        Chair - After 24 years as chair of the SDBL, Dave Walker has stood down. We thank Dave for all his years of service<br />
        Mel Curwen is our new Chair - good luck!<br />
        <strong class="font-weight-bold">Return to Play guidance</strong><br />
        With changes to COVID guidance, Badminton England has moved into Phase 4 of it's return to play plan. Details can be found <a href="https://www.badmintonengland.co.uk/wp-content/uploads/2021/07/RTP-roadmap-July-19-Step-4.pdf" target="_blank">here</a><br /><br />?
        As always - suggestions are always welcome - use the contact us menu to get in touch with me. Neil<br />
      </p>
</div>
<div class="col-md-4">
  <h1>Recent Results</h1>
  <% result.forEach(function(row){ %>
    <div class="row" itemscope itemtype="http://schema.org/Event">
    <%
      var MyDate = new Date(row['date']);
      var MyDateString, otherDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();

       otherDateString = MyDate.getFullYear() + '/'
                      + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                      + ('0' + MyDate.getDate()).slice(-2)
    %>
      <div class="col-3" itemprop="startDate" content="<%= otherDateString %>"><%= MyDateString %></div><div class="col" itemprop="name"><%= row['homeTeam'] %> vs <%= row['awayTeam'] %></div><div class="col-3"><%= row['homeScore'] %>-<%= row['awayScore'] %></div>
    </div>
  <% }) %>
</div>
<div class="col-md-4">
  <h1>Upcoming Fixtures</h1>
  <% row.forEach(function(result){ %>
  <div class="row">
    <%
      var MyDate = new Date(result['date']);
      var MyDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();
    %>
    <div class="col-3"><%= MyDateString %></div><div class="col"><%= result['homeTeam'] %> vs <%= result['awayTeam'] %></div>
  </div>
  <% }) %>
</div>

<%- include('JuniorTournamentModal.ejs') %>
<%- include('MesserNotesModal.ejs') %>
<%- include('tournamentPhotosCarouselModal.ejs') %>
<%- include('ResultsEntryModal.ejs') %>


<%- include('footer.ejs') %>


</body>
</html>
