<%- include('./header.ejs') %>
<%- include('./nav.ejs') %>



<div class="col-md-4">
<h1>News</h1>

      <p class="lead">
        <strong class="font-weight-bold">Roadmap for Return to Play</strong><br />
        Who would have thought that at this point of last season that our last week of competitive badminton for well over a year was about to take place. Hopefully after a void season, we will be able to start to play again over the summer ready for the 2021-22 season.<br /><br />
        In the light of the Government roadmap out of lockdown, Badminton England have now updated their <a href="https://www.badmintonengland.co.uk/wp-content/uploads/2021/03/RTP-MAR-2021.pdf" target="_blank" >return to play</a>. With regard to the league, the committee are planning to hold the AGM as normal, with a back up option of Zoom, after June 21st. The management and fixture meeting will then take place at a later date, with the 2021-2022 season starting as usual in September.<br />
        As always - suggestions are always welcome - use the contact us menu to get in touch with me. Neil<br />
      </p>
</div>
<div class="col-md-4">
  <h1>Recent Results</h1>
  <% result.forEach(function(row){ %>
    <div class="row" itemscope itemtype="http://schema.org/Event">
    <%
      var MyDate = new Date(row['date']);
      var MyDateString, otherDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();

       otherDateString = MyDate.getFullYear() + '/'
                      + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                      + ('0' + MyDate.getDate()).slice(-2)
    %>
      <div class="col-3" itemprop="startDate" content="<%= otherDateString %>"><%= MyDateString %></div><div class="col" itemprop="name"><%= row['homeTeam'] %> vs <%= row['awayTeam'] %></div><div class="col-3"><%= row['homeScore'] %>-<%= row['awayScore'] %></div>
    </div>
  <% }) %>
</div>
<div class="col-md-4">
  <h1>Upcoming Fixtures</h1>
  <% row.forEach(function(result){ %>
  <div class="row">
    <%
      var MyDate = new Date(result['date']);
      var MyDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();
    %>
    <div class="col-3"><%= MyDateString %></div><div class="col"><%= result['homeTeam'] %> vs <%= result['awayTeam'] %></div>
  </div>
  <% }) %>
</div>

<%- include('JuniorTournamentModal.ejs') %>
<%- include('MesserNotesModal.ejs') %>
<%- include('tournamentPhotosCarouselModal.ejs') %>
<%- include('ResultsEntryModal.ejs') %>


<%- include('footer.ejs') %>


</body>
</html>
