<% include header.ejs %>
<% include nav.ejs %>

<div class="col-md-4">
<h1>News</h1>
      <p class="lead">
        I hope you're all enjoying the new site!<br />
        I'm open to people sending me match reports if you want me to add them to the site, so feel free to email them to me<br />
        Recent results and upcoming fixtures now feature on the homepage so you can be keep up to date with how you're doing, or remind yourself you've got a match this week!<br />
        The Messer scoresheet is now in the menu, as is a printable version of the scorecard, although i'm happy for captains to print the spreadsheet off now and fill that in.<br />
        As always - suggestions are always welcome - use the contact us menu to get in touch with me. Neil
      </p>
</div>
<div class="col-md-4">
  <h1>Recent Results</h1>
  <% result.forEach(function(row){ %>
    <%
      var MyDate = new Date(row['date']);
      var MyDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();
    %>
    <%= MyDateString %>&nbsp;&nbsp;&nbsp;<%= row['homeTeam'] %> vs <%= row['awayTeam'] %>: &nbsp;<%= row['homeScore'] %>-<%= row['awayScore'] %><br />
  <% }) %>
</div>
<div class="col-md-4">
  <h1>Upcoming Fixtures</h1>
  <% row.forEach(function(result){ %>
    <%
      var MyDate = new Date(result['date']);
      var MyDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();
    %>
    <%= MyDateString %>&nbsp;&nbsp;&nbsp;<%= result['homeTeam'] %> vs <%= result['awayTeam'] %><br />
  <% }) %>
</div>
<% include footer.ejs %>


</body>
</html>
