<% include offline-header.ejs %>
<% include nav.ejs %>

<div class="col-md-4">
<h1>News</h1>
      <p class="lead">
        Round 4 Messer Results are now online<br />
        If you've entered the Handicap tournament you can find start time details <a data-toggle="modal" data-target="#tournamentModal" href="#tournamentModal">here</a><br />
        You can also find the Open Tournament results in the Tournament menu too<br />
        Reminder: The junior tournament will be held on 16 March 2019 at Poynton Leisure
Centre.<br />
        Follow <a href="https://www.twitter.com/BaddersResults" target="_blank">@BaddersResults</a> on twitter to see results as they're entered.<br />
        As always - suggestions are always welcome - use the contact us menu to get in touch with me. Neil
      </p>
</div>
<div class="col-md-4">
  <h1>Recent Results</h1>
  <% result.forEach(function(row){ %>
    <div class="row" itemscope itemtype="http://schema.org/Event">
    <%
      var MyDate = new Date(row['date']);
      var MyDateString, otherDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();

       otherDateString = MyDate.getFullYear() + '/'
                      + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                      + ('0' + MyDate.getDate()).slice(-2)
    %>
      <div class="col-3" itemprop="startDate" content="<%= otherDateString %>"><%= MyDateString %></div><div class="col" itemprop="name"><%= row['homeTeam'] %> vs <%= row['awayTeam'] %></div><div class="col-3"><%= row['homeScore'] %>-<%= row['awayScore'] %></div>
    </div>
  <% }) %>
</div>
<div class="col-md-4">
  <h1>Upcoming Fixtures</h1>
  <% row.forEach(function(result){ %>
  <div class="row">
    <%
      var MyDate = new Date(result['date']);
      var MyDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();
    %>
    <div class="col-3"><%= MyDateString %></div><div class="col"><%= result['homeTeam'] %> vs <%= result['awayTeam'] %></div>
  </div>
  <% }) %>
</div>

<div class="modal" id="tournamentModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Tournament Start Times</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <strong>Note - Entries are still being accepted for the Ladies’s Singles and Veteran Ladies Doubles.</strong>
        <h3>SUNDAY MARCH 17th</h3>
        <p>HANDICAP MENS SINGLES           6.30pm<br />
        HANDICAP LADIES SINGLES          6.30pm<br />
        HANDICAP MIXED DOUBLES        6.00pm<br />
        VETERAN MENS DOUBLES            6.00pm<br />
        VETERAN LADIES DOUBLES           7.00pm</p>
        <h3>SUNDAY MARCH 24th</h3>
        <p>HANDICAP MENS  DOUBLES            6.00pm<br />
        HANDICAP LADIES DOUBLES           6.00pm<br />
        VETERAN MENS  SINGLES                6.30pm<br />
        VETERAN MIXED DOUBLES              6.30pm<br />
        FAMILY MIXED  DOUBLES                7.00pm</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<% include footer.ejs %>


</body>
</html>
