<%- include('./header.ejs'); -%>
<%- include('./nav.ejs'); -%>



<div class="col-md-4">
<h1>News</h1>

      <p class="lead">
        <strong>Messer Trophy</strong><br />
        The Group Finals for the Messer Trophy have now been held. The Messer Group A Final was contested by 1st and 2nd in Division 1, Featherforce and David Lloyd. The match was very close with most of the level doubles being halved leaving the score at 6-6 going into the Mixed. In the mixed games which were also close Featherforce just edged all 3 to take the Trophy 9-6.<br /><br />
        The games in the Group B Final between Alderley Park C and College Green C were also close but Alderley Park C took the majority to win 10-5 overall.<br /><br />
        The Messer Final  between the winners of Group A and Group B will take place on Wednesday 6th May at Ladybridge Park Residents Club (Cheadle Hulme's venue), starting at 8pm. The handicaps are Featherforce Scr H and Alderley Park C +3.<a href="#" data-toggle="modal" data-target="#generatedTournamentGalleryModal"> Gallery</a><br /><br />
        As always - questions / suggestions are always welcome - use the contact us menu to get in touch with me. Neil<br />
        
      </p>
</div>
<div class="col-md-4">
  <% if (typeof scorecards !== 'undefined' && scorecards.length > 0){ %>
  <div class="col-12">
    <h1>Outstanding Scorecards</h1>
    <% scorecards.forEach(function(row){ 
      var rowClass = "";
      var MyDate = new Date(row['date']);
        var NowDate = Date.now();
        if((NowDate - MyDate) > (5 * 24 * 60 * 60* 1000)){
          rowClass = "bg-warning"
        }
        if((NowDate - MyDate) > (7 * 24 * 60 * 60* 1000)){
          rowClass = "bg-danger"
        }
      
      %>

      <div class="row <%= rowClass %>">
      <%
        var MyDateString, otherDateString;

        // MyDate.setDate(MyDate.getDate() + 20);

        MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                    + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                    + MyDate.getFullYear();

        otherDateString = MyDate.getFullYear() + '/'
                        + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                        + ('0' + MyDate.getDate()).slice(-2)
      %>
      <div class="col-3"><%= MyDateString %></div>
      <div class="col"><%= row['homeTeam'] %> vs <%= row['awayTeam'] %></div>
      </div>
    <% }) %>
  </div>
  <% } %>
  <div class="col-12">
    <h1>Recent Results</h1>
    <% result.forEach(function(row){ %>
      <div class="row warning">
      <%
        var MyDate = new Date(row['date']);
        var MyDateString, otherDateString;

        // MyDate.setDate(MyDate.getDate() + 20);

        MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                    + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                    + MyDate.getFullYear();

        otherDateString = MyDate.getFullYear() + '/'
                        + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                        + ('0' + MyDate.getDate()).slice(-2)
      %>
      <div class="col-3"><%= MyDateString %></div>
      <div class="col"><%= row['homeTeam'] %> vs <%= row['awayTeam'] %></div>
      <div class="col-3"><%= row['homeScore'] %>-<%= row['awayScore'] %></div>
      </div>
    <% }) %>
  </div>
</div>
<div class="col-md-4">
  <h1>Upcoming Fixtures</h1>
  <% if (typeof row !== 'undefined') { %>
  <% row.forEach(function(result){ %>
    <div class="row">
    <%
      var MyDate = new Date(result['date']);
      var MyDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();
    %>
    <div class="col-3"><%= MyDateString %></div>
    <div class="col"><a href="<%= '/event/' + result.id + '/' + MyDateString.replaceAll("/","") + '-' + result.homeTeam + '-' + result.awayTeam %>"><%= result['homeTeam'] %> vs <%= result['awayTeam'] %></a></div>
  </div>
  <% }) } %>
</div>

<%- include('GeneraNoteModal.ejs') %>
<%- include('BaxterModal.ejs') %>
<%- include('generatedTournamentGallery.ejs') %>

<%- include('footer.ejs') %>


</body>
</html>
