<%- include('./header.ejs'); -%>
<%- include('./nav.ejs'); -%>



<div class="col-md-4">
<h1>News</h1>

      <p class="lead">
        <strong>Messer A Section</strong><br />
        The Messer Group A Final was contested by 1st and 2nd in Division , Alderley Park A and Canute. In a close match with several 21-20 and 21-19s, Alderley Park A having won both league matches also then won the Group Final 9-6.<br />
        They go onto play the winners of the Group B Final between Manor A and Dome B. <br /><br />
        <strong>Messer B Section</strong><br />
        The Messer Group B Final was between Dome B and Manor A. The final was close but after 3 consecutive 21-20 games, Dome B drew away and eventually won 11-4. They go on to play the winners of Group A in the overall final on April 29th. <a href="#" data-toggle="modal" data-target="#generatedTournamentGalleryModal"> Gallery</a><br /><br />
        As always - questions / suggestions are always welcome - use the contact us menu to get in touch with me. Neil<br />
        
      </p>
</div>
<div class="col-md-4">
  <% if (typeof scorecards !== 'undefined' && scorecards.length > 0){ %>
  <div class="col-12">
    <h1>Outstanding Scorecards</h1>
    <% scorecards.forEach(function(row){ 
      var rowClass = "";
      var MyDate = new Date(row['date']);
        var NowDate = Date.now();
        if((NowDate - MyDate) > (5 * 24 * 60 * 60* 1000)){
          rowClass = "bg-warning"
        }
        if((NowDate - MyDate) > (7 * 24 * 60 * 60* 1000)){
          rowClass = "bg-danger"
        }
      
      %>

      <div class="row <%= rowClass %>">
      <%
        var MyDateString, otherDateString;

        // MyDate.setDate(MyDate.getDate() + 20);

        MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                    + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                    + MyDate.getFullYear();

        otherDateString = MyDate.getFullYear() + '/'
                        + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                        + ('0' + MyDate.getDate()).slice(-2)
      %>
      <div class="col-3"><%= MyDateString %></div>
      <div class="col"><%= row['homeTeam'] %> vs <%= row['awayTeam'] %></div>
      </div>
    <% }) %>
  </div>
  <% } %>
  <div class="col-12">
    <h1>Recent Results</h1>
    <% result.forEach(function(row){ %>
      <div class="row warning">
      <%
        var MyDate = new Date(row['date']);
        var MyDateString, otherDateString;

        // MyDate.setDate(MyDate.getDate() + 20);

        MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                    + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                    + MyDate.getFullYear();

        otherDateString = MyDate.getFullYear() + '/'
                        + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                        + ('0' + MyDate.getDate()).slice(-2)
      %>
      <div class="col-3"><%= MyDateString %></div>
      <div class="col"><%= row['homeTeam'] %> vs <%= row['awayTeam'] %></div>
      <div class="col-3"><%= row['homeScore'] %>-<%= row['awayScore'] %></div>
      </div>
    <% }) %>
  </div>
</div>
<div class="col-md-4">
  <h1>Upcoming Fixtures</h1>
  <% if (typeof row !== 'undefined') { %>
  <% row.forEach(function(result){ %>
    <div class="row">
    <%
      var MyDate = new Date(result['date']);
      var MyDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();
    %>
    <div class="col-3"><%= MyDateString %></div>
    <div class="col"><a href="<%= '/event/' + result.id + '/' + MyDateString.replaceAll("/","") + '-' + result.homeTeam + '-' + result.awayTeam %>"><%= result['homeTeam'] %> vs <%= result['awayTeam'] %></a></div>
  </div>
  <% }) } %>
</div>

<%- include('GeneraNoteModal.ejs') %>
<%- include('generatedTournamentGallery.ejs') %>

<%- include('footer.ejs') %>


</body>
</html>
