<%- include('./header.ejs'); -%>
<%- include('./nav.ejs'); -%>



<div class="col-md-4">
<h1>News</h1>

      <p class="lead">
        <strong>Messer Cup</strong><br />
        The Group finals will be held next week at Bramhall Sports Centre and spectators will be welcome.<br /><br />
        The Group B Final will be held on Monday 3rd April with an 8pm start. This will be between Mellor A (-10) (adj -10) and Parrs Wood C (+2) (adj +2)<br /><br />
        The Group A Final will be held on Wednesday 5th April with an 8pm start. This will be between College Green A (Scr) (adj Scr) v GHAP (-3) (adj -3)<br /><br />
        The overall Final will be on Wednesday 12th April.<br /><br />
        <strong>Player Registrations</strong><br />
        Reminder that now that we're past the end of February no new players should be registered for clubs
        <br /><br />
        As always - questions / suggestions are always welcome - use the contact us menu to get in touch with me. Neil<br />
      </p>
</div>
<div class="col-md-4">
  <h1>Recent Results</h1>
  <% result.forEach(function(row){ %>
    <div class="row" itemscope itemtype="http://schema.org/Event">
    <%
      var MyDate = new Date(row['date']);
      var MyDateString, otherDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();

       otherDateString = MyDate.getFullYear() + '/'
                      + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                      + ('0' + MyDate.getDate()).slice(-2)
    %>
    <data itemprop="location" itemscope itemtype="http://schema.org/Place">
      <data itemprop="name" value="" class="d-none"><%= row['venueName'] %></data>
      <a itemprop="hasMap" href="<%= row['mapLink'] %>" class="d-none"></a>
      <data itemprop="latitude" value="" class="d-none"><%= row['Lat'] %></data>
      <data itemprop="longitude" value="" class="d-none"><%= row['Lng'] %></data>
      <data itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
          <data itemprop="streetAddress" value="<%= row['address'] %>"></data>
      </data>
    </data><div class="col-3" itemprop="startDate" content="<%= otherDateString %>"><%= MyDateString %></div><div class="col" itemprop="name"><%= row['homeTeam'] %> vs <%= row['awayTeam'] %></div><div class="col-3"><%= row['homeScore'] %>-<%= row['awayScore'] %></div>
    </div>
  <% }) %>
</div>
<div class="col-md-4">
  <h1>Upcoming Fixtures</h1>
  <% row.forEach(function(result){ %>
    <div class="row" itemscope itemtype="http://schema.org/Event">
    <%
      var MyDate = new Date(result['date']);
      var MyDateString;

      // MyDate.setDate(MyDate.getDate() + 20);

      MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                   + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                   + MyDate.getFullYear();
    %>
    <data itemprop="location" itemscope itemtype="http://schema.org/Place"><data itemprop="name" value="" class="d-none"><%= result['venueName'] %></data><a itemprop="hasMap" href="<%= result['mapLink'] %>" class="d-none"></a>
    <data itemprop="latitude" value="" class="d-none"><%= result['Lat'] %></data>
    <data itemprop="longitude" value="" class="d-none"><%= result['Lng'] %></data><data itemprop="address" itemscope itemtype="https://schema.org/PostalAddress"><data itemprop="streetAddress" value="<%= result['address'] %>"></data></data></data><div class="col-3" itemprop="startDate"><%= MyDateString %></div><div class="col" itemprop="name"><%= result['homeTeam'] %> vs <%= result['awayTeam'] %></div>
  </div>
  <% }) %>
</div>

<%- include('GeneraNoteModal.ejs') %>
<%- include('HandicapTournamentNotesModal.ejs') %>


<%- include('footer.ejs') %>


</body>
</html>
