<%- include('header.ejs') %>
<%- include('nav.ejs') %>


<% if (typeof result !== 'undefined') { %>
<pre><%=  result %></pre>
<%
  }
%>
<% if (typeof fixturesCollection !== 'undefined') {
    %>
    <pre><%=  fixturesCollection %></pre>
    <%
  }
%>

<% if (typeof seasonCalendar !== 'undefined') {
    %>
    <pre><%=  seasonCalendar %></pre>
    <%
  }
%>


<% if (typeof scorecard !== 'undefined' && typeof admin !== undefined) {
  %>
  <h1>Scorecard Received</h1>
  <pre><%-  JSON.stringify(scorecard) %></pre>
  <%
}
%>

<% if (typeof scorecard !== 'undefined') {
  %>
  <h1>Scorecard Received</h1>
  <p>Thanks for entering your result - the Results secretary has been notified and the result should be entered on the website shortly!</p>
  <%
}
%>



<%- include('footer.ejs') %>


</body>
</html>
