<%- include('header.ejs') %>
<%- include('nav.ejs') %>

<h1>Scorecard Received</h1>
<p>This is just a dummy page to show the values entered</p>
<% if (typeof result !== 'undefined') { %>
<pre><%=  result %></pre>
<%
  }
%>
<% if (typeof fixturesCollection !== 'undefined') {
    %>
    <pre><%=  fixturesCollection %></pre>
    <%
  }
%>

<% if (typeof seasonCalendar !== 'undefined') {
    %>
    <pre><%=  seasonCalendar %></pre>
    <%
  }
%>


<% if (typeof scorecard !== 'undefined') {
  %>
  <pre><%-  JSON.stringify(scorecard) %></pre>
  <%
}
%>

<%- include('footer.ejs') %>


</body>
</html>
