<%- include('header.ejs') %>
<%- include('nav.ejs') %>

<h1>Tameside Fixtures...</h1>
<% if (typeof fixturesOutput !== 'undefined') {
    %>
    <div class="table-responsive">
        <table class="table" id="results-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Home Team</th>
                    <th>Away Team</th>
                    <th>Division</th>
                </tr>
            </thead>

    <% fixturesOutput.forEach(function(dateRow){
        function dotw(dayIndex) {
            return ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"][dayIndex];
        }
        %>
        
            
            <%
            if (typeof dateRow.fixtures !== 'undefined') {
            dateRow.fixtures.forEach(function(fixture){
            %>
            <tr>
                <%
                var MyDate = new Date(dateRow.date); 
                MyDateString = ('0' + MyDate.getDate()).slice(-2) + '/'
                     + ('0' + (MyDate.getMonth()+1)).slice(-2) + '/'
                     + MyDate.getFullYear();
                %>
            <td><%= dateRow.date %></td>
            <td>
            <% if(dateRow.weekend){ %>
                WEEKEND<br />
            <% } %>
            <% if(dateRow.xmas){ %>
                XMAS<br />
            <% } %>
            <% if(dateRow.easter){ %>
                
                EASTER<br />
            <% } %>
            <% if(dateRow.lewisshield){ %>
                LEWIS SHIELD<br />
            <% } %>
                <%= fixture.homeTeam %></td><td><%= fixture.awayTeam %></td><td><%= fixture.division %><br />
            </td>
        </tr>
            <%
            }) 
        }%>
            
        
    <% }) %>
        </table>
    </div>
    <%
  }
%>
<% if (typeof fixturesOutput !== 'undefined') {
    %>
    <pre><%=  JSON.stringify(fixturesOutput) %></pre>
    <%
  }
%>

<% if (typeof seasonCalendar !== 'undefined') {
    %>
    <pre><%=  seasonCalendar %></pre>
    <%
  }
%>

<%- include('footer.ejs') %>
<%- include('datatables.ejs') %>
<script type="javscript">
    const xmasDate = new Date(2025,11,25)
    const easterDate = new Date(2026,3,5)
    const seasonStartDate = new Date(2025,08,1)
    const seasonEndDate = new Date(2026,05,1)
    
    
    var nearEaster = function(currentDate){
        var easterBreakStart = new Date(+easterDate)
        var easterBreakEnd = new Date(+easterDate)
        easterBreakStart.setDate(easterDate.getDate() -4)
        easterBreakEnd.setDate(easterDate.getDate() +2)
        if (currentDate > easterBreakStart && currentDate < easterBreakEnd) {
            return true;
        }
        else{
            return false;
        }
    }
    
    var nearXmas = function(currentDate){
        
        var xmasBreakStart = new Date(+xmasDate)
        xmasBreakStart.setDate(xmasDate.getDate() - xmasDate.getDay())
        var xmasBreakEnd = new Date(+xmasBreakStart)
        xmasBreakEnd.setDate(xmasBreakStart.getDate() + 14);    
        if (currentDate >= xmasBreakStart && currentDate <= xmasBreakEnd) {
            return true;
        }
        else{
            return false;
        }
    }
    
    var islewisShieldWeek = function(currentDate) {
    
        var xmasBreakStart = new Date(+xmasDate)
        xmasBreakStart.setDate(xmasDate.getDate() - xmasDate.getDay())
        var xmasBreakEnd = new Date(+xmasBreakStart)
        xmasBreakEnd.setDate(xmasBreakStart.getDate() + 14);
        var lewisShieldBreak1Start = new Date(+xmasBreakEnd)
        var lewisShieldBreak1End = new Date(+lewisShieldBreak1Start)
        lewisShieldBreak1End.setDate(lewisShieldBreak1Start.getDate() + 21)
        var lewisShieldBreak2Start = new Date(+lewisShieldBreak1End)
        lewisShieldBreak2Start.setDate(lewisShieldBreak1End.getDate()+21)
        var lewisShieldBreak2End = new Date(+lewisShieldBreak2Start)
        lewisShieldBreak2End.setDate(lewisShieldBreak2Start.getDate()+14)
        var easterBreakStart = new Date(+easterDate)
        var easterBreakEnd = new Date(+easterDate)
        easterBreakStart.setDate(easterDate.getDate() -7)
        easterBreakEnd.setDate(easterDate.getDate() +7)
        if (seasonEndDate - easterBreakEnd < (14 * 86400000)){
            var lewisShieldBreak3Start = new Date(+easterBreakStart)
            lewisShieldBreak3Start.setDate(easterBreakStart.getDate() - 14)
        }
        else{
            var lewisShieldBreak3Start = new Date(+easterBreakEnd)
        }
        var lewisShieldBreak3End = new Date(+lewisShieldBreak3Start)
        lewisShieldBreak3End.setDate(lewisShieldBreak3Start.getDate() +14)
    
        if ((currentDate > lewisShieldBreak1Start && currentDate < lewisShieldBreak1End) || (currentDate > lewisShieldBreak2Start && currentDate < lewisShieldBreak2End) || (currentDate > lewisShieldBreak3Start && currentDate < lewisShieldBreak3End)){
            return true
        }
        else {
            return false
        }
    }
    
    let thisDay = seasonStartDate
    let fixtures = <%- divOneFixtures %>
    let weekdays = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"]
    let divisionTeams = <%- divOneTeams %>
    let htmlString = ""
    htmlString += "<html><head></head><body><table border=\"1\" cellpadding=\"0\" cellspacing=\"0\" id=\"divOneSheet\">\n"
    let csvReport = []
    
    for(let i=0; i<3; i++){
        let csvRow = []
        htmlString += "<tr>\n<td>"   
        if (i==2){
            csvRow.push("Match day")
        }
        else {
            csvRow.push(" ")    
        }
        csvRow.push(" ")
        for (team in divisionTeams){
            if (i==0){
                csvRow.push(" ")
            }
            else if (i==1){
                csvRow.push(divisionTeams[team].name)
            }
            else {
                csvRow.push(divisionTeams[team].homeNight)
            }
        }
        csvReport.push(csvRow.join(","))
        htmlString += csvRow.join("</td>\n<td>")
        htmlString += "</td></tr>\n"
    }
    
    
    while (thisDay <= seasonEndDate){
        csvRow = []
        htmlString += "<tr>\n<td>"
        csvRow.push(weekdays[thisDay.getDay()])
        csvRow.push(thisDay.getDate() + "/" + (thisDay.getMonth()+1) + "/" + thisDay.getFullYear())
        for (team in divisionTeams){
            if (nearXmas(thisDay)){
                if (thisDay.getDay()!=3){
                    csvRow.push("X")
                }
                else {
                    csvRow.push("XMAS BREAK")
                }
            }
            else if (nearEaster(thisDay)){
                if (thisDay.getDay()!=3){
                    csvRow.push("X")
                }
                else {
                    csvRow.push("EASTER BREAK")
                }
            }
            else if (islewisShieldWeek(thisDay)){
                if (thisDay.getDay()!=3){
                    csvRow.push("X")
                }
                else {
                    csvRow.push("LEWIS SHIELD")
                }
            }
            else{
                let todaysFixture = fixtures.filter(fixture => new Date(fixture.date + " 00:00:00").getTime() == thisDay.getTime())
                if (todaysFixture.length == 1) {
                    if (todaysFixture[0].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[0].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[0].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[0].awayTeam + "</em>")
                    }
                    else {
                        csvRow.push(" ")
                    }
                    // console.log(thisDay + ": " + fixture.homeTeam + " vs " + fixture.awayTeam)
                }
                else if (todaysFixture.length == 2){
                    if (todaysFixture[0].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[0].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[0].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[0].awayTeam + "</em>")
                    }
                    else if (todaysFixture[1].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[1].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[1].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[1].awayTeam + "</em>")
                    }
                    else {
                        csvRow.push(" ")
                    }
                }
                else if (todaysFixture.length == 3){
                    if (todaysFixture[0].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[0].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[0].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[0].awayTeam + "</em>")
                    }
                    else if (todaysFixture[1].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[1].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[1].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[1].awayTeam + "</em>")
                    }
                    else if (todaysFixture[2].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[2].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[2].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[2].awayTeam + "</em>")
                    }
                    else {
                        csvRow.push(" ")
                    }
                }
                else if (todaysFixture.length == 4){
                    if (todaysFixture[0].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[0].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[0].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[0].awayTeam + "</em>")
                    }
                    else if (todaysFixture[1].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[1].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[1].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[1].awayTeam + "</em>")
                    }
                    else if (todaysFixture[2].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[2].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[2].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[2].awayTeam + "</em>")
                    }
                    else if (todaysFixture[3].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[3].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[3].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[3].awayTeam + "</em>")
                    }
                    else {
                        csvRow.push(" ")
                    }
                }
                else{
                    csvRow.push(" ")
                }
            }
        }
        csvReport.push(csvRow.join(","))
        htmlString += csvRow.join("</td>\n<td>")
        htmlString += "</td>\n</tr>\n"
        thisDay.setDate(thisDay.getDate() + 1)
    }
    htmlString += "</table>\n"
    console.log(csvReport.join("\r\n"))
    console.log(htmlString)
    let gridHtml = "<table border=\"1\" cellpadding=\"0\" cellspacing=\"0\" id=\"divOneGrid\">\n"
    gridHtml += "<tr><td>&nbsp;</td>"
    for (team in divisionTeams){
        gridHtml += "<td>"+ divisionTeams[team].name +"</td>"
    }
    gridHtml += "</tr>"
    let crossFixture = []
    for (homeTeam in divisionTeams){
        gridHtml += "<tr><td>"+ divisionTeams[homeTeam].name +"</td>"
        for (awayTeam in divisionTeams){
            if (homeTeam == awayTeam){
                gridHtml += "<td>&nbsp;</td>"
            }
            else {
                crossFixture = fixtures.filter(fixture => (fixture.homeTeam == divisionTeams[homeTeam].name && fixture.awayTeam == divisionTeams[awayTeam].name))
                if (crossFixture.length == 0){
                    gridHtml += "<td>0/0/0000</td>"
                }
                else {
                    gridHtml += "<td>"+crossFixture[0].date.replaceAll(/([0-9]{1,2})-([0-9]{1,2})-([0-9]{4})/g,"$2/$1/$3")+"</td>"
                }
                
            }
        }
        gridHtml += "</tr>"
    }
    gridHtml += "</table>"
    
    document.write(htmlString)
    document.write(gridHtml)
    
    
    fixtures = <%- divTwoFixtures %>
    divisionTeams = <%- divTwoTeams %>
    
    htmlString = "<table border=\"1\" cellpadding=\"0\" cellspacing=\"0\">\n"
    csvReport = []
    
    for(let i=0; i<3; i++){
        let csvRow = []
        htmlString += "<tr>\n<td>"   
        if (i==2){
            csvRow.push("Match day")
        }
        else {
            csvRow.push(" ")    
        }
        csvRow.push(" ")
        for (team in divisionTeams){
            if (i==0){
                csvRow.push(" ")
            }
            else if (i==1){
                csvRow.push(divisionTeams[team].name)
            }
            else {
                csvRow.push(divisionTeams[team].homeNight)
            }
        }
        csvReport.push(csvRow.join(","))
        htmlString += csvRow.join("</td>\n<td>")
        htmlString += "</td></tr>\n"
    }
    
    let anotherDay = new Date(2025,08,1)
    
    while (anotherDay <= seasonEndDate){
        console.log(anotherDay)
        csvRow = []
        htmlString += "<tr>\n<td>"
        csvRow.push(weekdays[anotherDay.getDay()])
        csvRow.push(anotherDay.getDate() + "/" + (anotherDay.getMonth()+1) + "/" + anotherDay.getFullYear())
        for (team in divisionTeams){
            if (nearXmas(anotherDay)){
                if (anotherDay.getDay()!=3){
                    csvRow.push("X")
                }
                else {
                    csvRow.push("XMAS BREAK")
                }
            }
            else if (nearEaster(anotherDay)){
                if (anotherDay.getDay()!=3){
                    csvRow.push("X")
                }
                else {
                    csvRow.push("EASTER BREAK")
                }
            }
            else if (islewisShieldWeek(anotherDay)){
                if (anotherDay.getDay()!=3){
                    csvRow.push("X")
                }
                else {
                    csvRow.push("LEWIS SHIELD")
                }
            }
            else{
                let todaysFixture = fixtures.filter(fixture => new Date(fixture.date + " 00:00:00").getTime() == anotherDay.getTime())
                if (todaysFixture.length == 1) {
                    if (todaysFixture[0].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[0].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[0].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[0].awayTeam + "</em>")
                    }
                    else {
                        csvRow.push(" ")
                    }
                    // console.log(thisDay + ": " + fixture.homeTeam + " vs " + fixture.awayTeam)
                }
                else if (todaysFixture.length == 2){
                    if (todaysFixture[0].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[0].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[0].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[0].awayTeam + "</em>")
                    }
                    else if (todaysFixture[1].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[1].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[1].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[1].awayTeam + "</em>")
                    }
                    else {
                        csvRow.push(" ")
                    }
                }
                else if (todaysFixture.length == 3){
                    if (todaysFixture[0].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[0].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[0].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[0].awayTeam + "</em>")
                    }
                    else if (todaysFixture[1].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[1].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[1].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[1].awayTeam + "</em>")
                    }
                    else if (todaysFixture[2].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[2].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[2].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[2].awayTeam + "</em>")
                    }
                    else {
                        csvRow.push(" ")
                    }
                }
                else if (todaysFixture.length == 4){
                    if (todaysFixture[0].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[0].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[0].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[0].awayTeam + "</em>")
                    }
                    else if (todaysFixture[1].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[1].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[1].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[1].awayTeam + "</em>")
                    }
                    else if (todaysFixture[2].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[2].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[2].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[2].awayTeam + "</em>")
                    }
                    else if (todaysFixture[3].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[3].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[3].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[3].awayTeam + "</em>")
                    }
                    else {
                        csvRow.push(" ")
                    }
                }
                else{
                    csvRow.push(" ")
                }
            }
        }
        csvReport.push(csvRow.join(","))
        htmlString += csvRow.join("</td>\n<td>")
        htmlString += "</td>\n</tr>\n"
        anotherDay.setDate(anotherDay.getDate() + 1)
    }
    htmlString += "</table>\n"
    console.log(csvReport.join("\r\n"))
    console.log(htmlString)
    gridHtml = "<table border=\"1\" cellpadding=\"0\" cellspacing=\"0\">\n"
    gridHtml += "<tr><td>&nbsp;</td>"
    for (team in divisionTeams){
        gridHtml += "<td>"+ divisionTeams[team].name +"</td>"
    }
    gridHtml += "</tr>"
    crossFixture = []
    for (homeTeam in divisionTeams){
        gridHtml += "<tr><td>"+ divisionTeams[homeTeam].name +"</td>"
        for (awayTeam in divisionTeams){
            if (homeTeam == awayTeam){
                gridHtml += "<td>&nbsp;</td>"
            }
            else {
                crossFixture = fixtures.filter(fixture => (fixture.homeTeam == divisionTeams[homeTeam].name && fixture.awayTeam == divisionTeams[awayTeam].name))
                if (crossFixture.length == 0){
                    gridHtml += "<td>0/0/0000</td>"
                }
                else {
                    gridHtml += "<td>"+crossFixture[0].date.replaceAll(/([0-9]{1,2})-([0-9]{1,2})-([0-9]{4})/g,"$2/$1/$3")+"</td>"
                }
            }
        }
        gridHtml += "</tr>"
    }
    gridHtml += "</table>"
    
    document.write(htmlString)
    document.write(gridHtml)

    /* fixtures = 0
    divisionTeams = 0
    
    htmlString = "<table border=\"1\" cellpadding=\"0\" cellspacing=\"0\">\n"
    csvReport = []
    
    for(let i=0; i<3; i++){
        let csvRow = []
        htmlString += "<tr>\n<td>"   
        if (i==2){
            csvRow.push("Match day")
        }
        else {
            csvRow.push(" ")    
        }
        csvRow.push(" ")
        for (team in divisionTeams){
            if (i==0){
                csvRow.push(" ")
            }
            else if (i==1){
                csvRow.push(divisionTeams[team].name)
            }
            else {
                csvRow.push(divisionTeams[team].homeNight)
            }
        }
        csvReport.push(csvRow.join(","))
        htmlString += csvRow.join("</td>\n<td>")
        htmlString += "</td></tr>\n"
    }
    
    let anotherDay = new Date(2025,08,1)
    
    while (anotherDay <= seasonEndDate){
        console.log(anotherDay)
        csvRow = []
        htmlString += "<tr>\n<td>"
        csvRow.push(weekdays[anotherDay.getDay()])
        csvRow.push(anotherDay.getDate() + "/" + (anotherDay.getMonth()+1) + "/" + anotherDay.getFullYear())
        for (team in divisionTeams){
            if (nearXmas(anotherDay)){
                if (anotherDay.getDay()!=3){
                    csvRow.push("X")
                }
                else {
                    csvRow.push("XMAS BREAK")
                }
            }
            else if (nearEaster(anotherDay)){
                if (anotherDay.getDay()!=3){
                    csvRow.push("X")
                }
                else {
                    csvRow.push("EASTER BREAK")
                }
            }
            else if (islewisShieldWeek(anotherDay)){
                if (anotherDay.getDay()!=3){
                    csvRow.push("X")
                }
                else {
                    csvRow.push("LEWIS SHIELD")
                }
            }
            else{
                let todaysFixture = fixtures.filter(fixture => new Date(fixture.date + " 00:00:00").getTime() == anotherDay.getTime())
                if (todaysFixture.length == 1) {
                    if (todaysFixture[0].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[0].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[0].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[0].awayTeam + "</em>")
                    }
                    else {
                        csvRow.push(" ")
                    }
                    // console.log(thisDay + ": " + fixture.homeTeam + " vs " + fixture.awayTeam)
                }
                else if (todaysFixture.length == 2){
                    if (todaysFixture[0].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[0].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[0].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[0].awayTeam + "</em>")
                    }
                    else if (todaysFixture[1].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[1].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[1].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[1].awayTeam + "</em>")
                    }
                    else {
                        csvRow.push(" ")
                    }
                }
                else if (todaysFixture.length == 3){
                    if (todaysFixture[0].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[0].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[0].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[0].awayTeam + "</em>")
                    }
                    else if (todaysFixture[1].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[1].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[1].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[1].awayTeam + "</em>")
                    }
                    else if (todaysFixture[2].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[2].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[2].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[2].awayTeam + "</em>")
                    }
                    else {
                        csvRow.push(" ")
                    }
                }
                else if (todaysFixture.length == 4){
                    if (todaysFixture[0].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[0].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[0].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[0].awayTeam + "</em>")
                    }
                    else if (todaysFixture[1].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[1].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[1].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[1].awayTeam + "</em>")
                    }
                    else if (todaysFixture[2].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[2].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[2].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[2].awayTeam + "</em>")
                    }
                    else if (todaysFixture[3].homeTeam == divisionTeams[team].name){
                        csvRow.push("<strong>"+ todaysFixture[3].homeTeam + "</strong>")
                    }
                    else if (todaysFixture[3].awayTeam == divisionTeams[team].name){
                        csvRow.push("<em>"+ todaysFixture[3].awayTeam + "</em>")
                    }
                    else {
                        csvRow.push(" ")
                    }
                }
                else{
                    csvRow.push(" ")
                }
            }
        }
        csvReport.push(csvRow.join(","))
        htmlString += csvRow.join("</td>\n<td>")
        htmlString += "</td>\n</tr>\n"
        anotherDay.setDate(anotherDay.getDate() + 1)
    }
    htmlString += "</table>\n"
    console.log(csvReport.join("\r\n"))
    console.log(htmlString)
    gridHtml = "<table border=\"1\" cellpadding=\"0\" cellspacing=\"0\">\n"
    gridHtml += "<tr><td>&nbsp;</td>"
    for (team in divisionTeams){
        gridHtml += "<td>"+ divisionTeams[team].name +"</td>"
    }
    gridHtml += "</tr>"
    crossFixture = []
    for (homeTeam in divisionTeams){
        gridHtml += "<tr><td>"+ divisionTeams[homeTeam].name +"</td>"
        for (awayTeam in divisionTeams){
            if (homeTeam == awayTeam){
                gridHtml += "<td>&nbsp;</td>"
            }
            else {
                crossFixture = fixtures.filter(fixture => (fixture.homeTeam == divisionTeams[homeTeam].name && fixture.awayTeam == divisionTeams[awayTeam].name))
                if (crossFixture.length == 0){
                    gridHtml += "<td>0/0/0000</td>"
                }
                else {
                    gridHtml += "<td>"+crossFixture[0].date.replaceAll(/([0-9]{1,2})-([0-9]{1,2})-([0-9]{4})/g,"$2/$1/$3")+"</td>"
                }
            }
        }
        gridHtml += "</tr>"
    }
    gridHtml += "</table>"
    
    document.write(htmlString)
    document.write(gridHtml) */
    
    
</script>

</body>
</html>
